
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv='description' content='Ceeile Carine'>
    <meta name='description' content='Ceeile Carine'>
    <meta name='keywords' content='Ceeile Carine'>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>2.1详情页视频</title>
    <link rel="stylesheet" href="/wechat/css/flickity-docs.css" media="screen" />
    <link href="/wechat/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/wechat/css/style.css" type="text/css" rel="stylesheet"/>
    <script src="/wechat/js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="/wechat/js/main.js" type="text/javascript"></script>
    <script src="/wechat/js/rem750.js" type="text/javascript"></script>

    <script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
    <script src="/wechat/js/common.js" type="text/javascript"></script>
    <script>
        $(function(){
            //视频简介查看更多
            $(".ilook").click(function(){
                if( $(".moreIntro").is(":hidden")){
                    $(this).addClass("ilook02")
                    $(".moreIntro").show();

                } else {
                    $(this).removeClass("ilook02")
                    $(".moreIntro").hide();
                }
            })
        })

    </script>
</head>
<body>
<div class="wrapMain">
    <div class="videoiBanner">
        <!--<img width="100%" src="{$video_info.video_img}" />-->
        {if !$Think.session.reader_no}
        <img id="video_img" src="{$video_info.video_img}" width="100%">
        {/if}
        <div id="video_player" {if !$Think.session.reader_no}style="display:none;" {/if}></div>
    </div>
    <div class="VideoCon">
        <span class="videoTit">{$video_info.title}<b>简笔画</b></span>
        <p class="clearfix Videoinfo">
            <span>
            <i class="Ieye"><img width="100%" src="/wechat/images/look.png" /></i>{$video_info.view_num}次播放</span><span>
            <i class="Isc"><img width="100%" src="/wechat/images/dz.png" /></i>收藏</span><span>
            <i class="share"><img width="100%" src="/wechat/images/share.png" /></i>分享
        </span>
        </p>
        <span class="videoJianjie">简介</span>
        <p class="videoIntr">
            {if $video_info.mark != ''} {$video_info.mark} {else} {$video_info.series_video_desc} {/if}
            <!--<span class="moreIntro" style="display:none">的理念，对生活永远怀有最远大的情怀的理念，对生远大的梦想和最朴实的情怀</span>-->
            <!--<a href="javascript:void(0)" class="ilook"></a>-->
        </p>
    </div>
    <span class="eyeTit">相关推荐</span>

    <div class="pad20 clearfix">
        <div class="SubCon clearfix">
            {volist name="recommand_list" id="vo"}
            <div class="Subct fl">
                <div class="Titelcon">{$vo.title}<i class="Tileft"></i><i class="Tiright"></i></div>
                <div class="SubPicm fl">
                    <a href="/wechat/video/index?video_id={$vo.video_id}">
                        <img width="100%" src="{$vo.video_img}" />
                        <span class="SubBar">
                        <i class="fl"><b><img width="100%" src="/wechat/images/look.png" /></b>{$vo.view_num}</i>
                        <i class="fr"><b><img width="100%" src="/wechat/images/dz.png" /></b>{$vo.like_num}</i>
                        </span>
                    </a>
                    <span class="SubTag">{$vo.cat_name}</span>
                </div>
            </div>
            {/volist}
        </div>

    </div>

</div>


{if !$Think.session.user_id}
{include file="common/login" /}
{/if}


</body>
</html>
{if $Think.session.reader_no}
<script type="text/javascript">
    jwplayer("video_player").setup({
        "file": "{$video_info.video_url}",//视频文件路径
        //"aspectratio": "16:9",//播放器自适应比例
        //"height": "360",//播放器高度
        "width":'100%',
        "height":'100%',
        "type":"mp4",//播放文件类型（可选）
        //"title": "{$video_info.title}",//标题（可选）
        "description": "{$video_info.title}",//描述（可选）
        "image": "{$video_info.video_img}",//视频封面（可选）
        "repeat":"true",//重复播放（留空则不重复播放）
        "autostart":"false",//自动播放（留空则不启用自动播放）
    });
</script>
{/if}
