

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/manage/index/index">起始页</a>
            </li>

            <li>
                <a href="/manage/video/video_list">视频列表</a>
            </li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">

        {if $error_msg}
        <!-- 错误提示 -->
            <div class="col-sm-10">
                <h3 class="header smaller lighter green">
                    <i class="icon-bullhorn"></i>
                    错误提示
                </h3>

                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>

                    <strong>
                        <i class="icon-remove"></i>
                        错误
                    </strong>

                    {$error_msg}
                </div>

                <a href="/manage/video/video_list">
                    <button class="btn btn-success">返回</button>
                </a>
            </div>
        {/if}


        <!-- 验证表单部分 -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" action="/manage/video/edit" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 资源名称 </label>
                        <div class="col-sm-9">
                            <input type="text" name="title" value="{$video_info.title??''}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >所属分类 </label>
                        <div class="col-sm-9">
                            <select name="cat_id" id="first_cat">
                                <option value="0">请选择</option>
                                <option value="1" <?php echo isset($video_info) && $video_info['cat_id'] == 1 ? 'selected' :''  ?>>绘画</option>
                                <option value="2" <?php echo isset($video_info) && $video_info['cat_id'] == 2 ? 'selected' :''  ?>>手工</option>
                                <option value="3" <?php echo isset($video_info) && $video_info['cat_id'] == 3 ? 'selected' :''  ?>>书法</option>
                                <option value="4" <?php echo isset($video_info) && $video_info['cat_id'] == 4 ? 'selected' :''  ?>>舞蹈</option>
                                <option value="5" <?php echo isset($video_info) && $video_info['cat_id'] == 5 ? 'selected' :''  ?>>音乐</option>
                                <option value="6" <?php echo isset($video_info) && $video_info['cat_id'] == 6 ? 'selected' :''  ?>>棋类</option>
                                <option value="7" <?php echo isset($video_info) && $video_info['cat_id'] == 7 ? 'selected' :''  ?>>民间艺术</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 二级分类 </label>
                        <div class="col-sm-9">
                            <select name="second_cat_id" id="second_cat">
                                <option value="0">请选择</option>
                                {volist name="second_cat_list" id="vo"}
                                    <option value="{$vo.cat_id}" {eq name="vo.cat_id" value="$video_info.second_cat_id"}selected{/eq} >{$vo.cat_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 视频位置 </label>
                        <div class="col-sm-9">
                            <select name="position">
                                <option value="0">请选择</option>
                                <option value="1" {eq name="video_info.position" value="1"}selected{/eq} >首页1</option>
                                <option value="2" {eq name="video_info.position" value="2"}selected{/eq} >首页2</option>
                                <option value="3" {eq name="video_info.position" value="3"}selected{/eq} >首页3</option>
                                <option value="4" {eq name="video_info.position" value="4"}selected{/eq} >首页4</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 视频图片 </label>
                        <div class="col-sm-9">
                            <input type="file" name="video_img" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 视频 </label>
                        <div class="col-sm-9">
                            <input type="file" name="video" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 资源大小 </label>
                        <div class="col-sm-9">
                            xxxxx
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 状态 </label>
                        <div class="col-sm-9">
                            <input type="radio" name="status" value="1" {eq name="video_info.status" value="1"}checked{/eq} />立即发布
                            <input type="radio" name="status" value="0" {eq name="video_info.status" value="0"}checked{/eq} />待发布
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 排序 </label>
                        <div class="col-sm-9">
                            <input type="text" name="sort" value="{$video_info.sort??'1'}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 视频简介 </label>
                        <div class="col-sm-9">
                            <textarea name="mark" id="form-field-11" class="autosize-transition form-control" placeholder="请输入备注">{$video_info.mark??''}</textarea>
                        </div>
                    </div>

                    <input type="hidden" name="video_id" value="{$video_info.video_id??''}" />

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <input class="btn btn-info" type="submit" value="提交"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div><!-- /.main-content -->

<script>
    $(function () {
        //切换以及分类
        $('#first_cat').change(function () {
            $('#second_cat').empty().append('<option value="0">请选择</option>');
            $.ajax({
                type: 'POST',
                async: false, //注意这里要求为Boolean类型的参数，false不能写成'false'不然会被解析成true
                url: '/manage/video/get_child_category' ,
                data: 'cat_id='+ $(this).val(),
                dataType:'json',
                cache:false, //同理
                success: function(data){
                    if(data.code == 200){
                        $('#second_cat').append('<option value="0">请选择</option>');
                        $.each(data.data, function (i,n) {
                            $('#second_cat').append('<option value="'+ n.cat_id +'">'+ n.cat_name +'</option>')
                        })
                    } else {
                        alert('获取子分类失败');
                    }
                } ,
                error:function(){
                    alert('获取子分类失败');
                },
            });
        })
    })
</script>









