{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}



<div class="boxP">
    <div class="titP">
        <h4>添加活动</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post" enctype="multipart/form-data">
            <dl>
                <dt><span class="redSpan">*</span>活动名称</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="activity_name" value="" maxlength="100"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>所属机构</dt>
                <dd>
                    <ul class="selectP">
                        <li>
                            <select name="customer_id">
                                <option value="0">请选择</option>
                                {volist name="customer_list" id="customer"}
                                <option value="{$customer.customer_id}">{$customer.customer_name}</option>
                                {/volist}
                            </select>
                        </li>
                    </ul>
                </dd>
            </dl>


            <dl>
                <dt><span class="redSpan">*</span>活动时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="start_time" id="start_time" value="" autocomplete="off" />
                        <input type="input" name="end_time" id="end_time" value="" autocomplete="off" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>活动地点</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="address" value="" maxlength="200"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>能否报名</dt>
                <dd>
                    <div class="inputP">
                        <label><input type="radio" name="is_signup" value="1" checked />能</label>
                        <label><input type="radio" name="is_signup" value="2" />不能</label>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>报名时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="signup_start_time" id="signup_start_time" value="" autocomplete="off" />
                        <input type="input" name="signup_end_time" id="signup_end_time" value="" autocomplete="off" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>人数限制</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="max_number" value="" maxlength="6"/>
                    </div>
                </dd>
            </dl>


            <!--上传图片-->
            <dl>
                <dt><span class="redSpan">*</span>活动图片</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="activity_img" id="video_img" value=""/>
                            <p>上传图片</p>

                            <!--
                            <input type="file" name="activity_img" />
                            <input type="file" name="activity_gallery_1" />
                            <input type="file" name="activity_gallery_2" />
                            <input type="file" name="activity_gallery_3" />
                            -->

                        </div>
                        <span>请上传图片格式的文件</span>
                        <!--
                        <div class="view">
                            <ul class="imgList">
                                <li><span></span><img src="/admin/images/404.jpg" id="video_img_preview"><a class="del" href="javascript:;">×</a></li>
                                <li><span></span><img src="/admin/images/bg.jpg"><a class="del" href="javascript:;">×</a></li>
                                <li><span></span><img src="http://img.redocn.com/sheji/20170123/chuangyichunzishejimobanyishuzishejisucai_7814679_small.jpg"><a class="del" href="javascript:;">×</a></li>
                            </ul>
                            <span>图片上传要求说明文字图片上传要求说明文字 jpg、png、gif</span>
                        </div>
                        -->
                    </div>

                </dd>
            </dl>

            <dl>
                <dt>活动相册图片1</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="activity_gallery_1" value=""/>
                            <p>上传图片</p>
                        </div>
                        <span>请上传图片格式的文件</span>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>活动相册图片2</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="activity_gallery_2" value=""/>
                            <p>上传图片</p>
                        </div>
                        <span>请上传图片格式的文件</span>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>活动相册图片3</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="activity_gallery_3" value=""/>
                            <p>上传图片</p>
                        </div>
                        <span>请上传图片格式的文件</span>
                    </div>
                </dd>
            </dl>


            <dl>
                <dt><span class="redSpan">*</span>活动简介</dt>
                <dd>
                    <div class="inputP textareaP">
                        <textarea name="activity_desc" id="activity_desc" placeholder="请输入简介" maxlength="1000"></textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                    <span>每一段落请用<xmp><p></p></xmp>包裹起来</span>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>参与方式</dt>
                <dd>
                    <div class="inputP textareaP">
                        <textarea name="join_rule" id="join_rule" placeholder="请输入简介" maxlength="1000"></textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                    <span>每一段落请用<xmp><p></p></xmp>包裹起来</span>
                </dd>
            </dl>


            <dl>
                <dt><span class="redSpan">*</span>活动奖励</dt>
                <dd>
                    <div class="inputP textareaP">
                        <textarea name="activity_reward" id="activity_reward" placeholder="请输入简介" maxlength="1000"></textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                    <span>每一段落请用<xmp><p></p></xmp>包裹起来</span>
                </dd>
            </dl>


            <dl>
                <dt><span class="redSpan">*</span>特别注意</dt>
                <dd>
                    <div class="inputP textareaP" id="special_attention">
                        <textarea name="special_attention"  placeholder="请输入简介" maxlength="1000"></textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                    <span>每一段落请用<xmp><p></p></xmp>包裹起来</span>
                </dd>
            </dl>

            <!--确定按钮-->
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="确定" class="btnP" >
                    <a href="/admin/activity/index" class="btnP btnDark">取消</a>
                </dd>
            </dl>
        </form>
    </div>
</div>


<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#start_time,#end_time,#signup_start_time,#signup_end_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d H:i:s"
    });
</script>
<style>
    .inputP input {
        width: 150px;
    }
</style>
