{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}

<div class="boxP">
    <div class="titP">
        <h4>编辑活动</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post" enctype="multipart/form-data">
            <dl>
                <dt>活动名称</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="activity_name" value="{$activity_info.activity_name}" maxlength="100"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>所属机构</dt>
                <dd>
                    <ul class="selectP">
                        <li>
                            <select name="customer_id">
                                <option value="0">请选择</option>
                                {volist name="customer_list" id="customer"}
                                <option value="{$customer.customer_id}" {if $customer.customer_id == $activity_info.customer_id} selected {/if} >{$customer.customer_name}</option>
                                {/volist}
                            </select>
                        </li>
                    </ul>
                </dd>
            </dl>


            <dl>
                <dt>活动时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="start_time" id="start_time" value="{$activity_info.start_time|date='Y-m-d H:i:s',###}" />
                        <input type="input" name="end_time" id="end_time" value="{$activity_info.end_time|date='Y-m-d H:i:s',###}" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>活动地点</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="address" value="{$activity_info.address}" maxlength="200"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>能否报名</dt>
                <dd>
                    <div class="inputP">
                        <label><input type="radio" name="is_signup" value="1" {if 1 == $activity_info.is_signup} checked {/if} />能</label>
                        <label><input type="radio" name="is_signup" value="2" {if 2 == $activity_info.is_signup} checked {/if} />不能</label>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>报名时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="signup_start_time" id="signup_start_time" value="{$activity_info.signup_start_time|date='Y-m-d H:i:s',###}" />
                        <input type="input" name="signup_end_time" id="signup_end_time" value="{$activity_info.signup_end_time|date='Y-m-d H:i:s',###}" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>人数限制</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="max_number" value="{$activity_info.max_number}" maxlength="6"/>
                    </div>
                </dd>
            </dl>


            <!--上传图片-->
            <dl>
                <dt>活动图片</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="activity_img" value=""/>
                            <p>上传图片</p>
                        </div>
                        <span>请上传图片格式的文件</span>
                        {if $activity_info.activity_img}
                        <div class="view">
                            <ul class="imgList">
                                <li><span></span><img src="{$activity_info.activity_img}"></li>
                            </ul>
                            <!--<span>图片上传要求说明文字图片上传要求说明文字 jpg、png、gif</span>-->
                        </div>
                        {/if}
                    </div>

                </dd>
            </dl>

            <dl>
                <dt>活动相册图片1</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="activity_gallery_1" />
                            <p>上传图片</p>
                        </div>
                        <span>请上传图片格式的文件</span>

                        {if $activity_info.activity_gallery}
                        <div class="view">
                            <ul class="imgList">
                                {volist name="$activity_info.activity_gallery" id="vo"}
                                <li><span></span><img src="{$vo}"></li>
                                {/volist}
                            </ul>
                        </div>
                        {/if}

                    </div>
                </dd>
            </dl>

            <dl>
                <dt>活动相册图片2</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="activity_gallery_2" />
                            <p>上传图片</p>
                        </div>
                        <span>请上传图片格式的文件</span>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>活动相册图片3</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="activity_gallery_3" />
                            <p>上传图片</p>
                        </div>
                        <span>请上传图片格式的文件</span>
                    </div>
                </dd>
            </dl>


            <dl>
                <dt>活动简介</dt>
                <dd>
                    <div class="inputP textareaP">
                        <textarea name="activity_desc" placeholder="请输入简介" maxlength="1000">{$activity_info.activity_desc}</textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                    <span>每一段落请用<xmp><p></p></xmp>包裹起来</span>
                </dd>
            </dl>

            <dl>
                <dt>参与方式</dt>
                <dd>
                    <div class="inputP textareaP">
                        <textarea name="join_rule" placeholder="请输入简介" maxlength="1000">{$activity_info.join_rule}</textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                    <span>每一段落请用<xmp><p></p></xmp>包裹起来</span>
                </dd>
            </dl>

            <dl>
                <dt>活动奖励</dt>
                <dd>
                    <div class="inputP textareaP">
                        <textarea name="activity_reward" placeholder="请输入简介" maxlength="1000">{$activity_info.activity_reward}</textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                    <span>每一段落请用<xmp><p></p></xmp>包裹起来</span>
                </dd>
            </dl>

            <dl>
                <dt>特别注意</dt>
                <dd>
                    <div class="inputP textareaP">
                        <textarea name="special_attention" placeholder="请输入简介" maxlength="1000">{$activity_info.special_attention}</textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                    <span>每一段落请用<xmp><p></p></xmp>包裹起来</span>
                </dd>
            </dl>

            <!--确定按钮-->
            <dl>
                <dt></dt>
                <dd> <input type="submit" value="确定" class="btnP" > </dd>
            </dl>
        </form>
    </div>
</div>

<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#start_time,#end_time,#signup_start_time,#signup_end_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d H:i:s"
    });
</script>

<style>
    .inputP input {
        width: 150px;
    }
</style>

