<div class="boxP">
    <form method="get">
        <div class="formP">
            <dl>
                <dt>活动名称</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="title" value="{$Think.get.title}">
                    </div>
                </dd>
            </dl>
            <dl class="btnMng"> <dt></dt> <dd> <input type="submit" value="搜索" class="btnP" /> </dd>  </dl>
        </div>
    </form>
</div>


<div class="boxP">
    <div class="titP">
        <h4>活动列表</h4>
        <div class="btnMng">
            <a href="/admin/activity/add" class="btnP">新建</a>
        </div>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>活动id</th>
                <th>活动名称</th>
                <th>所属机构</th>
                <th>导航图</th>
                <th>创建时间</th>
                <th>活动状态</th>
                <th>操作</th>
            </tr>

            {foreach name="activity_list" item="vo" key="k"}
            <tr>
                <td>{$vo.activity_id}</td>
                <td>{$vo.activity_name}</td>
                <td>{$vo.activity_name}</td>
                <td><img width="30" src="{$vo.activity_img}"/></td>
                <td>{:date('Y-m-d H:i:s',$vo['add_time'])}</td>
                <td>{$vo.status == 1 ? '启用' : '禁用'}</td>
                <td class="opt">
                    {if  $vo.status==1}
                    <a class="blue" href="/admin/activity/change_status?activity_id={$vo.activity_id}&status=0">
                        <span>禁用</span>
                    </a>
                    {else}
                    <a class="blue" href="/admin/activity/change_status?activity_id={$vo.activity_id}&status=1">
                        <span>启用</span>
                    </a>
                    {/if}

                    <a class="blue" href="/admin/activity/edit?activity_id={$vo.activity_id}">
                        <span>编辑</span>
                    </a>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <div class="pageBar">
            <div>总共<em>{$activity_list->total()}</em>条, 当前<em>{$activity_list->currentPage()}</em>/<em>{$activity_list->lastPage()}</em>页</div>
            <div>
                {$activity_list->render()}
            </div>
        </div>
    </div>
</div>
