<div class="boxP">
    <form method="get">
        <div class="formP">
            <dl>
                <dt>读者证号</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="reader_no" value="{$Think.get.reader_no}">
                    </div>
                </dd>
            </dl>
            <dl class="btnMng"> <dt></dt> <dd> <input type="submit" value="搜索" class="btnP" /> </dd>  </dl>
        </div>
    </form>
</div>


<div class="boxP">
    <div class="titP">
        <h4>报名列表</h4>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>用户id</th>
                <th>读者证号</th>
                <th>头像</th>
                <th>联系电话</th>
                <th>报名时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>

            {foreach name="signup_list" item="vo"}
            <tr>
                <td>{$vo.user_id}</td>
                <td>{$vo.reader_no}</td>
                <td><img width="30" src="{$vo.avatar}"/></td>
                <td>{$vo.signup_mobile}</td>
                <td>{$vo.signup_time|date="Y-m-d H:i:s",###}</td>
                <td>{if $vo.status == 1}通过{elseif $vo.status == 2}拒绝{else}未审核{/if}</td>
                <td class="opt">
                    {if  $vo.status==0}
                    <a class="blue" href="/admin/activity/change_signup_status?id={$vo.id}&status=1">
                        <span>通过</span>
                    </a>
                    <a class="blue" href="/admin/activity/change_signup_status?id={$vo.id}&status=2">
                        <span>拒绝</span>
                    </a>
                    {/if}

                    <!--
                    <a class="blue" href="/admin/activity/edit?id={$vo.id}">
                        <span>编辑</span>
                    </a>
                    -->
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <div class="pageBar">
            <div>总共<em>{$signup_list->total()}</em>条, 当前<em>{$signup_list->currentPage()}</em>/<em>{$signup_list->lastPage()}</em>页</div>
            <div>
                {$signup_list->render()}
            </div>
        </div>
    </div>
</div>
