<link type="text/css" rel="stylesheet" href="/wechat/css/common.css" />
<link type="text/css" rel="stylesheet" href="/wechat/css/popup.css" />
<script src="/wechat/js/rem750.js" type="text/javascript"></script>
<!--<script src="/wechat/js/jquery.js" type="text/javascript"></script>-->
<script src="/wechat/js/main.js" type="text/javascript"></script>

<div class="mask" style="display:none;" id="activity_singup_readerno_pop">
    <div class="popupBox">
        <span class="closed"></span>
        <h3 class="popupTitle">报名</h3>
        <div class="readerSign">
            <ul>
                <li>参与活动： 卡通人物塑造</li>
                <li>读者证号：092344</li>
                <li>联系电话：<input type="text" name="readerno_mobile" class="telephone" placeholder="请输入11位手机号"></li>
                <li><input type="submit" class="confirmBtn" value="确定" id="readno_signup_confirm_btn"></li>
            </ul>
        </div>
        <span class="zs01"></span>
        <span class="zs02"></span>
    </div>
</div>
