
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0"/>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/wechat/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/wechat/css/style.css" />
    <script src="/wechat/js/rem750.js" type="text/javascript"></script>
    <script src="/wechat/js/jquery.js" type="text/javascript"></script>
    <script src="/wechat/js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $(".edit").click(function(){
                $(".deleCollect").show();
                $(".complete").show()
                $(this).hide();
            })
            $(".deleCollect").click(function(){
                $(this).parent().parent().remove()
            })
            $(".complete").click(function(){
                $(".deleCollect").hide();
                $(".edit").show()
                $(this).hide();
            })
        })
    </script>
</head>

<body>
<div class="wrapMain">
    <span class="yellowBg"></span>
    <div class="myWorkBox">
        <p class="opereBtn clearfix"><a href="#" class="fr complete">完成</a><a href="#" class="fr edit">编辑</a></p>
        <div class="SubCon clearfix marTop20" style="display: block;">
            {volist name="collect_list" id="vo"}
            <div class="Subct fl">
                <div class="Titelcon"><span class="deleCollect"></span>{$vo.title}<i class="Tileft"></i><i class="Tiright"></i></div>
                <div class="SubPicm fl">
                    <a href="#"><img width="100%" src="{$vo.video_img}">
                        <span class="SubBar">
                            <i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>{$vo.view_num}</i>
                            <i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>{$vo.like_num}</i>
                        </span>
                    </a>
                    <span class="SubTag">{$vo.cat_name}</span>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>
</body>
</html>
