
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0"/>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/wechat/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/wechat/css/style.css" />
    <script src="/wechat/js/rem750.js" type="text/javascript"></script>
    <script src="/wechat/js/jquery.js" type="text/javascript"></script>
    <script src="/wechat/js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $(".arrow").click(function(){
                if($(this).parent().next().is(":hidden")){
                    $(".arrow").addClass("arrowUp")
                    $(".newsListBox").hide();
                    $(this).parent().next().show();
                    $(this).removeClass("arrowUp")
                } else {
                    $(this).parent().next().hide();
                    $(this).addClass("arrowUp")
                }
            })
        })
    </script>
</head>

<body>
<div class="wrapMain">
    <span class="yellowBg"></span>
    <div class="myWorkBox">
        <p class="opereBtn clearfix"><a href="#" class="fr edit">清空</a></p>
        <div class="newsBox">
            <h3 class="newsTitle">
                <span class="arrow fr arrowUp"></span>
                <i class="xt"></i>
                系统消息
            </h3>
            <div class="newsListBox" style="display:block">
                <ul>
                    <li>
                        <span class="new"></span>
                        <h3><a href="#">自制水火箭发射器 水火箭简单制作过程详细步骤图解示意说明  快来围观吧~</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <span class="new"></span>
                        <h3><a href="#">五款简单的圣诞贺卡制作过程简析</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <h3><a href="#">自制水火箭发射器 水火箭简单制作过程详细步骤图解示意说明  快来围观吧~</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <h3><a href="#">五款简单的圣诞贺卡制作过程简析</a></h3>
                        <p>2018.03.06</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="newsBox">
            <h3 class="newsTitle">
                <span class="arrow fr arrowUp"></span>
                <i class="works"></i>
                作品消息
            </h3>
            <div class="newsListBox">
                <ul>
                    <li>
                        <span class="new"></span>
                        <h3><a href="#">自制水火箭发射器 水火箭简单制作过程详细步骤图解示意说明  快来围观吧~</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <span class="new"></span>
                        <h3><a href="#">五款简单的圣诞贺卡制作过程简析</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <h3><a href="#">自制水火箭发射器 水火箭简单制作过程详细步骤图解示意说明  快来围观吧~</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <h3><a href="#">五款简单的圣诞贺卡制作过程简析</a></h3>
                        <p>2018.03.06</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="newsBox">
            <h3 class="newsTitle">
                <span class="arrow fr arrowUp"></span>
                <i class="hud"></i>
                活动消息
            </h3>
            <div class="newsListBox">
                <ul>
                    <li>
                        <span class="new"></span>
                        <h3><a href="#">自制水火箭发射器 水火箭简单制作过程详细步骤图解示意说明  快来围观吧~</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <span class="new"></span>
                        <h3><a href="#">五款简单的圣诞贺卡制作过程简析</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <h3><a href="#">自制水火箭发射器 水火箭简单制作过程详细步骤图解示意说明  快来围观吧~</a></h3>
                        <p>2018.03.06</p>
                    </li>
                    <li>
                        <h3><a href="#">五款简单的圣诞贺卡制作过程简析</a></h3>
                        <p>2018.03.06</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
</html>
