
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0"/>
    <meta charset="utf-8">
    <title>观看记录</title>
    <link type="text/css" rel="stylesheet" href="/wechat/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/wechat/css/style.css" />
    <script src="/wechat/js/rem750.js" type="text/javascript"></script>
    <script src="/wechat/js/jquery.js" type="text/javascript"></script>
    <script src="/wechat/js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $(".arrow").click(function(){
                if($(this).parent().next().is(":hidden")){
                    $(".arrow").addClass("arrowUp")
                    $(".SubCon").hide();
                    $(this).parent().next().show();
                    $(this).removeClass("arrowUp")
                } else {
                    $(this).parent().next().hide();
                    $(this).addClass("arrowUp")
                }
            })
        })
    </script>
</head>

<body>
<div class="wrapMain">
    <span class="yellowBg"></span>
    <div class="myWorkBox">
        <p class="opereBtn clearfix"><a href="#" class="fr edit">清空</a></p>
        <div class="newsBox">
            <h3 class="newsTitle">
                <i class="seven"></i>
                全部播放记录
            </h3>
            <div class="SubCon clearfix marTop20" style="display: block;">

                {volist name="view_list" id="vo"}
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>{$vo.title}<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="/wechat/video/index?video_id={$vo.video_id}"><img width="100%" src="{$vo.video_img}">
                            <span class="SubBar">
                                <i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>{$vo.view_num}</i>
                                <i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>{$vo.like_num}</i>
                            </span>
                        </a>
                        <span class="SubTag">{$vo.cat_name}</span>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
</body>
</html>