
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0"/>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/wechat/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/wechat/css/style.css" />
    <script src="/wechat/js/rem750.js" type="text/javascript"></script>
    <script src="/wechat/js/jquery.js" type="text/javascript"></script>
    <script src="/wechat/js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $(".arrow").click(function(){
                if($(this).parent().next().is(":hidden")){
                    $(".arrow").addClass("arrowUp")
                    $(".SubCon").hide();
                    $(this).parent().next().show();
                    $(this).removeClass("arrowUp")
                } else {
                    $(this).parent().next().hide();
                    $(this).addClass("arrowUp")
                }
            })
        })
    </script>
</head>

<body>
<div class="wrapMain">
    <span class="yellowBg"></span>
    <div class="myWorkBox">
        <p class="opereBtn clearfix"><a href="#" class="fr edit">清空</a></p>
        <div class="newsBox">
            <h3 class="newsTitle">
                <span class="arrow fr arrowUp"></span>
                <i class="seven"></i>
                最近7天
            </h3>
            <div class="SubCon clearfix marTop20" style="display: block;">
                {if $type==1}
                {volist name="view_list" id="vo"}
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>{$vo.title}<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="/wechat/video/index?video_id={$vo.video_id}"><img width="100%" src="{$vo.video_img}">
                            <span class="SubBar">
                                <i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>{$vo.view_num}</i>
                                <i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>{$vo.like_num}</i>
                            </span>
                        </a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                {/volist}
                {/if}
                <!--
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>快速画出青苹果2<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="#"><img width="100%" src="/wechat/images/img.png"><span class="SubBar"><i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>743</i><i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>120</i></span></a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>快速画出青苹果3<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="#"><img width="100%" src="/wechat/images/img.png"><span class="SubBar"><i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>743</i><i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>120</i></span></a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>快速画出青苹果4<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="#"><img width="100%" src="/wechat/images/img.png"><span class="SubBar"><i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>743</i><i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>120</i></span></a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="newsBox">
            <h3 class="newsTitle">
                <span class="arrow fr arrowUp"></span>
                <i class="thirty"></i>
                近30天
            </h3>
            <div class="SubCon clearfix marTop20">
                {if $type==2}
                {volist name="view_list" id="vo"}
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>{$vo.title}<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="/wechat/video/index?video_id={$vo.video_id}"><img width="100%" src="{$vo.video_img}">
                            <span class="SubBar">
                                <i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>{$vo.view_num}</i>
                                <i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>{$vo.like_num}</i>
                            </span>
                        </a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                {/volist}
                {/if}
                <!--
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>快速画出青苹果2<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="#"><img width="100%" src="/wechat/images/img.png"><span class="SubBar"><i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>743</i><i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>120</i></span></a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="newsBox">
            <h3 class="newsTitle">
                <span class="arrow fr arrowUp"></span>
                <i class="sixty"></i>
                近60天
            </h3>
            <div class="SubCon clearfix marTop20">
                {if $type==3}
                {volist name="view_list" id="vo"}
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>{$vo.title}<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="/wechat/video/index?video_id={$vo.video_id}"><img width="100%" src="{$vo.video_img}">
                            <span class="SubBar">
                                <i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>{$vo.view_num}</i>
                                <i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>{$vo.like_num}</i>
                            </span>
                        </a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                {/volist}
                {/if}
                <!--
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>快速画出青苹果1<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="#"><img width="100%" src="/wechat/images/img.png"><span class="SubBar"><i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>743</i><i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>120</i></span></a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                <div class="Subct fl">
                    <div class="Titelcon"><span class="deleCollect"></span>快速画出青苹果2<i class="Tileft"></i><i class="Tiright"></i></div>
                    <div class="SubPicm fl">
                        <a href="#"><img width="100%" src="/wechat/images/img.png"><span class="SubBar"><i class="fl"><b><img width="100%" src="/wechat/images/look.png"></b>743</i><i class="fr"><b><img width="100%" src="/wechat/images/dz.png"></b>120</i></span></a>
                        <span class="SubTag">简笔画</span>
                    </div>
                </div>
                -->
            </div>
        </div>

    </div>
</div>
</body>
</html>
