
<div class="boxP">
    <form method="get">
        <div class="titP">
            <h4>查询条件</h4>
        </div>
        <div class="boxP">
            <div class="formP searchFormP">

                <dl>
                    <dt>管理员角色</dt>
                    <dd>
                        <ul class="selectP">
                            <li>
                                <select name="role_id">
                                    <option value="">请选择</option>
                                    {volist name="role_list" id="vo"}
                                    <option value="{$vo.role_id}" {if $Think.get.role_id == $vo.role_id}selected{/if} >{$vo.role_name}</option>
                                    {/volist}
                                </select>
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>登录名</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" class="l" name="account" value="{$Think.get.account}">
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>真实姓名</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" class="l" name="user_name" value="{$Think.get.user_name}">
                        </div>
                    </dd>
                </dl>

                <!--<a href="javascript:void(0)" class="btnExpand openMng"></a>-->
            </div>
            <!--确定按钮-->
            <dl class="rBtn searchBtns">
                <dt>　</dt>
                <dd>
                    <input type="submit" class="btnP" value="确定">
                    <!--<a href="javascript:void(0)" class="btnP btnDark">重置</a>-->
                </dd>
            </dl>
        </div>
    </form>
</div>


<div class="boxP">
    <div class="titP">
        <h4>管理员列表</h4>
        <div class="btnMng">
            <a href="/admin/admin/add" class="btnP">新建</a>
        </div>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>管理员id</th>
                <th>账号</th>
                <th>角色</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>手机号</th>
                <th>最近登录</th>
                <th>状态</th>
                <th>操作</th>
            </tr>

            {foreach name="admin_list" item="vo" key="k"}
            <tr>
                <td>{$vo.admin_id}</td>
                <td>{$vo.account}</td>
                <td>{$vo.role_name}</td>
                <td>{$vo.user_name}</td>
                <td>{$vo.email}</td>
                <td>{$vo.mobile}</td>
                <td>{if $vo['last_login_time'] > 0} {:date('Y-m-d H:i:s',$vo['last_login_time'])} {else} 没登录过 {/if}</td>
                <td>{$vo.status == 1 ? '启用' : '禁用'}</td>
                <td class="opt">
                        {if  $vo.status==1}
                        <a class="blue" href="/admin/admin/change_status?admin_id={$vo.admin_id}&status=0">
                            <span>禁用</span>
                        </a>
                        {else}
                        <a class="blue" href="/admin/admin/change_status?admin_id={$vo.admin_id}&status=1">
                            <span>启用</span>
                        </a>
                        {/if}

                        <a class="blue" href="/admin/admin/edit?admin_id={$vo.admin_id}">
                            <span>编辑</span>
                        </a>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <div class="pageBar">
            <div>总共<em>{$admin_list->total()}</em>条, 当前<em>{$admin_list->currentPage()}</em>/<em>{$admin_list->lastPage()}</em>页</div>
            <div>
                {$admin_list->render()}
            </div>
        </div>
    </div>
</div>

<script>
    //form查询表单展开收起效果
    function searchExpand(){
        var at = 'auto';
        var sfp = $('.searchFormP');
        var btn = $('.searchFormP .btnExpand');
        $('.searchFormP').css('height',45);
        btn.on('click',function(){
            var h = sfp.height();
            if(h<=50){
                btn.addClass('closeMng');
                sfp.css('height',at);
            }else{
                btn.removeClass('closeMng');
                sfp.css('height',45);
            }
        })
    }
    $(function(){
        searchExpand();
    })
</script>


<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#start_time,#end_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d"
    });
</script>
