
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/manage/index/index">起始页</a>
            </li>
        </ul>
    </div>

    <div class="page-content">

        {if $error_msg}
        <!-- 错误提示 -->
        <div class="col-sm-10">
            <h3 class="header smaller lighter green">
                <i class="icon-bullhorn"></i>
                错误提示
            </h3>

            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                {$error_msg}
            </div>
        </div>
        {/if}


        <!-- 验证表单部分 -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" action="" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">banner标题</label>
                        <div class="col-sm-9">
                            <input type="text" name="title" value="{$banner_info.title}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">banner链接</label>
                        <div class="col-sm-9">
                            <input type="text" name="url" value="{$banner_info.url}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">banner图片</label>
                        <div class="col-sm-9">
                            <input type="file" name="banner_img" />
                            {if $banner_info.banner_img}
                            <img src="{$banner_info.banner_img}" height="30">
                            {/if}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">banner位置</label>
                        <div class="col-sm-9">
                            <select name="banner_type">
                                <option value="0">请选择</option>
                                <option value="index_banner" {if $banner_info.banner_type == 'index_banner'}selected{/if}>首页banner</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">状态</label>
                        <div class="col-sm-9">
                            <input type="radio" name="status" value="1" {if $banner_info.status == 1}checked{/if} />启用
                            <input type="radio" name="status" value="0" {if $banner_info.status == 0}checked{/if} /> 禁用
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">简介：</label>
                        <div class="col-sm-9">
                            <textarea name="remark" id="form-field-11" class="autosize-transition form-control" placeholder="请banner简介">{$banner_info.remark}</textarea>
                        </div>
                    </div>

                    <input name="banner_id" type="hidden" value="{$banner_info.banner_id}" />

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <input class="btn btn-info" type="submit" value="提交"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div><!-- /.main-content -->








