
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>紫葡萄少儿艺术库后台管理系统</title>
    <link href="/admin/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin/js/jquery-jquery-v1.4.2.min.js"></script>
    <script type="text/javascript" src="/admin/js/js.js"></script>
</head>
<body>
<div class="leftMenu">
    <h1>用户管理</h1>
    <ul style="display:block">
        <li><a href="/admin/customer/index" target="rightFrame">客户管理</a></li>
        <li><a href="/admin/user/index" target="rightFrame">互联网用户管理</a></li>
    </ul>

    <h1>视频列表</h1>
    <ul>
        <li><a href="/admin/video/index" target="rightFrame">视频列表</a></li>
    </ul>

    <h1>活动管理</h1>
    <ul>
        <li><a href="/admin/activity/index" target="rightFrame">活动管理</a></li>
    </ul>

    <h1>作品列表</h1>
    <ul>
        <li><a href="/admin/product/index" target="rightFrame">作品列表</a></li>
    </ul>

    <h1>合同列表</h1>
    <ul>
        <li><a href="/admin/contract/index" target="rightFrame">合同列表</a></li>
    </ul>

    <h1>个性化设置</h1>
    <ul>
        <li><a href="/admin/banner/index" target="rightFrame">banner管理</a></li>
        <li><a href="/admin/domain/index" target="rightFrame">域名设置</a></li>
    </ul>

    <h1>统计管理</h1>
    <ul>
        <li><a href="/admin/statistics/index" target="rightFrame">客户、用户量统计</a></li>
        <!--<li><a href="/admin/statistics/index" target="rightFrame">访问统计</a></li>-->
        <!--<li><a href="/admin/statistics/index" target="rightFrame">点播统计</a></li>-->
    </ul>

    <h1>系统设置</h1>
    <ul>
        <li><a href="/admin/admin/index" target="rightFrame">账户管理</a></li>
        <li><a href="/admin/role/index" target="rightFrame">角色管理</a></li>
        <li><a href="/admin/resource/index" target="rightFrame">权限资源管理</a></li>
        <li><a href="/admin/notice/index" target="rightFrame">公告设置</a></li>
        <li><a href="/admin/admin/modify_password" target="rightFrame">修改密码</a></li>
    </ul>

</div>
</body>
</html>