
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/admin/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/admin/js/js.js"></script>
</head>
<body class="login">
<div class="boxP">
    <div class="titP">
        <h4>紫葡萄艺术库管理平台</h4>
    </div>
    <div class="formP">
        <dl>
            <dt>账户</dt>
            <dd>
                <div class="inputP">
                    <input type="text" placeholder="输入管理账户" name="account">
                </div>
            </dd>
        </dl>
        <dl>
            <dt>密码</dt>
            <dd>
                <div class="inputP">
                    <input type="password" placeholder="输入管理密码" name="password">
                </div>
            </dd>
        </dl>
    </div>

    <!--公共按钮-->
    <div class="btnB">
        <a href="javascript:void(0)" class="btnP" id="login_btn">登 录</a>
    </div>

</div>
</body>
</html>

<script type="text/javascript">
    $('#login_btn').click(function(){
        $.ajax({
            type: 'POST',
            async: false, //注意这里要求为Boolean类型的参数，false不能写成'false'不然会被解析成true
            url: '/admin/index/login' ,
            data: 'account='+ $('input[name="account"]').val() +'&password='+$('input[name="password"]').val()+'&m='+ Math.random() ,
            dataType:'json',
            cache:false, //同理
            success: function(data){
                if(data.status == 200){
                    window.location = '/admin/index/index';
                } else {
                    alert('登录失败');
                }
            } ,
            error:function(){
                alert('登录失败，请刷新重试');
            },
        });
    })

    if(window!=top){
        parent.window.location.href = "/admin/index/login";
    }
</script>