
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/admin/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/admin/js/js.js"></script>
</head>
<body>
<ul class="tabP">
    <li class="active"><a href="#">标签跳页切换</a><em></em></li>
    <li><a href="#">长短不一有长有短</a><em></em></li>
    <li><a href="#">切换</a><em></em></li>
    <li><a href="#">标签跳页切换</a></li>
    <li><a href="#">标签跳页切换</a></li>
</ul>
<div class="p20">
    <!--公共容器-->
    <div class="boxP">

        <!--公共标题-->
        <div class="titP">
            <h4>筛选功能</h4>
        </div>
        <!--筛选功能-->
        <div class="filterBox">
            <dl>
                <dt>按首字母</dt>
                <dd>
                    <a href="#" class="On">全部</a>
                    <a href="#">A</a>
                    <a href="#">B</a>
                    <a href="#">C</a>
                    <a href="#">D</a>
                    <a href="#">E</a>
                    <a href="#">F</a>
                    <a href="#">G</a>
                </dd>
            </dl>
            <dl>
                <dt>二级分类</dt>
                <dd>
                    <a href="#" class="On">全部</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                </dd>
            </dl>
            <dl>
                <dt>三级分类</dt>
                <dd>
                    <a href="#" class="On">全部</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                    <a href="#">分类名称</a>
                </dd>
            </dl>
        </div>
    </div>

    <div class="boxP">
        <!--公共标题-->
        <div class="titP">
            <h4>宽度为100%的表格样式</h4>
            <em>11123123</em>

            <!--公共标题-按钮-->
            <div class="btnMng">
                <a href="#" class="btnP">新建</a>
            </div>
        </div>

        <!--公共表格-->
        <div class="tableBox">
            <table class="tableP">
                <tr>
                    <th><input type="checkbox"></th>
                    <th>序号</th>
                    <th>文章标题</th>
                    <th>一级栏目</th>
                    <th>二级栏目</th>
                    <th>发布日期</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td><a href="#">文章标题标题标题标题标题标题标题标题标题标题</a></td>
                    <td>一级栏目</td>
                    <td>二级栏目</td>
                    <td>2016-5-9</td>
                    <td class="opt"><a href="#">编辑</a><a href="#">删除</a></td>
                </tr>
            </table>
        </div>
        <div class="pageP">
            <div class="opt">
                <label><input type="checkbox">全选</label>
                <a href="#">删除</a>
                <a href="#">催还</a>
            </div>
            <div class="pageBar">
                <div>总共<em>14</em>条, 当前<em>1</em>/<em>2</em>页</div>
                <div>
                    <a href="javascript:;" target="_self">|&lt;</a>
                    <a href="javascript:;" target="_self">&lt;</a>
                    <a href="javascript:;" class="active">1</a>
                    <a href="javascript:;" target="_self">2</a>
                    <a href="javascript:;" target="_self">&gt;</a>
                    <a href="javascript:;" target="_self">&gt;|</a>
                </div>
                <div>
                    第<input type="text" class="jump">页<a href="#" onclick="jumpClick()">跳转</a>
                </div>
            </div>
        </div>
    </div>
    <div class="boxP">
        <!--公共标题-->
        <div class="titP">
            <h4>带滚动条的table,请在table上加 class = w150</h4>
            <em>11123123</em>

            <!--公共标题-按钮-->
            <div class="btnMng">
                <a href="#" class="btnP">新建</a>
            </div>
        </div>

        <!--公共表格-->
        <div class="tableBox">
            <table class="tableP w150">
                <tr>
                    <th></th>
                    <th>编号</th>
                    <th>读者证号</th>
                    <th>真实姓名</th>
                    <th>状态</th>
                    <th>借阅总数</th>
                    <th>归还本数</th>
                    <th>办理时间</th>
                    <th>是否彩云微信用户</th>
                    <th>比例</th>
                    <th>是否彩云微信用户</th>
                    <th>是否彩云微信用户</th>
                    <th>是否彩云微信用户</th>
                    <th>是否彩云微信用户</th>
                    <th class="tl tIdt10">操作</th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1703</td>
                    <td>02005581557</td>
                    <td>王向辉</td>
                    <td>已还	</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2017/1/8 20:31:55</td>
                    <td>2017/1/8 20:31:55</td>
                    <td class="percent"><span class="pWrap"><span class="in" style="width: 60%"></span></span> <em>60%</em> </td>
                    <td>2017/1/8 20:31:55</td>
                    <td>否</td>
                    <td>否</td>
                    <td>否</td>
                    <td class="opt tl"><a href="#">编辑</a><a href="#">借阅记录</a><a href="#">删除</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1703</td>
                    <td>02005581557</td>
                    <td>王向辉</td>
                    <td>已还	</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2017/1/8 20:31:55</td>
                    <td>2017/1/8 20:31:55</td>
                    <td class="percent"><span class="pWrap"><span class="in" style="width: 30%"></span></span> <em>30%</em> </td>
                    <td>2017/1/8 20:31:55</td>
                    <td>否</td>
                    <td>否</td>
                    <td>否</td>
                    <td class="opt tl"><a href="#">编辑</a><a href="#">借阅记录</a><a href="#">删除</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1703</td>
                    <td>02005581557</td>
                    <td>王向辉</td>
                    <td>已还	</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2017/1/8 20:31:55</td>
                    <td>2017/1/8 20:31:55</td>
                    <td class="percent"><span class="pWrap"><span class="in" style="width: 10%"></span></span> <em>10%</em> </td>
                    <td>2017/1/8 20:31:55</td>
                    <td>否</td>
                    <td>否</td>
                    <td>否</td>
                    <td class="opt tl"><a href="#">编辑</a><a href="#">借阅记录</a><a href="#">删除</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1703</td>
                    <td>02005581557</td>
                    <td>王向辉</td>
                    <td>已还	</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2017/1/8 20:31:55</td>
                    <td>2017/1/8 20:31:55</td>
                    <td class="percent"><span class="pWrap"><span class="in" style="width: 80%"></span></span> <em>80%</em> </td>
                    <td>2017/1/8 20:31:55</td>
                    <td>否</td>
                    <td>否</td>
                    <td>否</td>
                    <td class="opt tl"><a href="#">编辑</a><a href="#">借阅记录</a><a href="#">删除</a></td>
                </tr>
            </table>
        </div>
        <div class="pageP">
            <div class="opt">
                <label><input type="checkbox">全选</label>
                <a href="#">删除</a>
                <a href="#">催还</a>
            </div>
            <div class="pageBar">
                <div>总共<em>14</em>条, 当前<em>1</em>/<em>2</em>页</div>
                <div>
                    <a href="javascript:;" target="_self">|&lt;</a>
                    <a href="javascript:;" target="_self">&lt;</a>
                    <a href="javascript:;" class="active">1</a>
                    <a href="javascript:;" target="_self">2</a>
                    <a href="javascript:;" target="_self">&gt;</a>
                    <a href="javascript:;" target="_self">&gt;|</a>
                </div>
                <div>
                    第<input type="text" class="jump">页<a href="#" onclick="jumpClick()">跳转</a>
                </div>
            </div>
        </div>
    </div>

    <div class="boxP">
        <!--公共标题-->
        <div class="titP">
            <h4>表格切换</h4>
            <!--公共标题-切换-->
            <ul class="tag">
                <li class="active">本页切换一</li>
                <li>本页切换二</li>
            </ul>
        </div>
        <div class="tagCon">
            <div class="tagS active">
                <div class="tableBox">
                    <table class="tableP">
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>序号</th>
                            <th>文章标题</th>
                            <th>一级栏目</th>
                            <th>二级栏目</th>
                            <th>发布日期</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td><a href="#">文章标题标题标题标题标题标题标题标题标题标题</a></td>
                            <td>一级栏目</td>
                            <td>二级栏目</td>
                            <td>2016-5-9</td>
                            <td class="opt"><a href="#">编辑</a><a href="#">删除</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td><a href="#">文章标题标题标题标题标题标题标题标题标题标题</a></td>
                            <td>一级栏目</td>
                            <td>二级栏目</td>
                            <td>2016-5-9</td>
                            <td class="opt"><a href="#">编辑</a><a href="#">删除</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td><a href="#">文章标题标题标题标题标题标题标题标题标题标题</a></td>
                            <td>一级栏目</td>
                            <td>二级栏目</td>
                            <td>2016-5-9</td>
                            <td class="opt"><a href="#">编辑</a><a href="#">删除</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tagS">
                <div class="conP">
                    公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器
                </div>
            </div>
        </div>

        <!--公共翻页-->
        <div class="pageP">
            <div class="opt">
                <label><input type="checkbox">全选</label>
                <a href="#">反选</a>
            </div>
            <div class="pageBar">
                <div>总共<em>14</em>条, 当前<em>1</em>/<em>2</em>页</div>
                <div>
                    <a href="javascript:;" target="_self">|&lt;</a>
                    <a href="javascript:;" target="_self">&lt;</a>
                    <a href="javascript:;" class="active">1</a>
                    <a href="javascript:;" target="_self">2</a>
                    <a href="javascript:;" target="_self">&gt;</a>
                    <a href="javascript:;" target="_self">&gt;|</a>
                </div>
                <div>
                    第<input type="text" class="jump">页<a href="#" onclick="jumpClick()">跳转</a>
                </div>
            </div>
        </div>

    </div>
    <div class="boxP">
        <!--公共标题-->
        <div class="titP">
            <h4>标题文字内容标题文字内容</h4>
            <div class="search">
                <input class="text" type="text" placeholder="快速查找">
                <input class="btnP" type="button" value="确定">
            </div>
        </div>

        <!--公共内容容器-->
        <div class="conP">
            公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器公共的文字内容容器
        </div>
    </div>


    <!--三列布局-->
    <ul class="tripleList">
        <li class="double">
            <div class="boxP">
                <!--公共标题-->
                <div class="titP">
                    <h4>标题文字名称</h4>
                </div>

                <!--公共表格-->
                <div class="tableBox">
                    <table class="tableP">
                        <tr>
                            <th>111</th>
                            <th>111</th>
                            <th>111</th>
                            <th>111</th>
                            <th>111</th>
                            <th>111</th>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                    </table>
                </div>
            </div>
        </li>
        <li><div class="boxP pdr0">
            <!--公共标题-->
            <div class="titP">
                <h4>标题文字名称</h4>
            </div>

            <!--公共表格-->
            <div class="tableBox">
                <table class="typeTable">
                    <tr>
                        <td>院校数<p>138</p></td>
                        <td>院校数<p>138</p></td>
                    </tr>
                </table>
            </div>
        </div>
        </li>
    </ul>


    <!--三列布局-->
    <ul class="tripleList">
        <li>
            <div class="boxP">
                <!--公共标题-->
                <!--<div class="titP">-->
                <!--<h4>标题文字名称</h4>-->
                <!--</div>-->
                <div class="tripleReport">饼状图</div>
            </div>
        </li>
        <li>
            <div class="boxP">
                <!--公共标题-->
                <!--<div class="titP">-->
                <!--<h4>标题文字名称</h4>-->
                <!--</div>-->
                <div class="tripleReport">饼状图</div>
            </div>
        </li>
        <li>
            <div class="boxP">
                <!--公共标题-->
                <!--<div class="titP">-->
                <!--<h4>标题文字名称</h4>-->
                <!--</div>-->
                <div class="tripleReport">饼状图</div>
            </div>
        </li>
    </ul>




</div>

<!--公共按钮-->
<div class="btnB btnMid">
    <a href="#" class="btnP">提交</a>
    <a href="#" class="btnP btnDark">重置</a>
    <a href="#" class="btnP btnRed">删除</a>
    <a href="#" class="btnP btnLigh">不可用</a>
</div>

</body>
</html>
