
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if $page_title}{$page_title}{else}活动详情{/if}</title>
    <link href="/css/common.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/ratio.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/wrap.js"></script>
    <script type="text/javascript" src="/js/jquery.jslides.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>

    <link href="/css/layer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/ratio.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
</head>

<body>
<div class="wrap">
    <div class="header">
        <a href="/" class="fl logo"><img src="/images/logo.png" width="100%"></a>
        {if !$Think.session.user_id}
        <a href="javascript:void(0)" class="fr unLogin">
            <i></i>
            <p>未登录</p>
        </a>
        {else}
        <a href="/index/user/viewlist" class="fr unLogin">
            <img src="{$Think.session.avatar}">
        </a>
        {/if}
        <a href="/" class="fr sear">
            <i></i>
            <p>搜索</p>
        </a>
    </div>
    <div class="hdTab">
        <ul class="clearfix">
            <li class="cur"><a href="/index/activity/info?activity_id={$Think.request.activity_id}">活动简介</a></li>
            <li><a href="/index/activity/rule?activity_id={$Think.request.activity_id}">活动规则</a></li>
            {if $activity_status != 'not_beginning'}
                {if $activity_status == 'starting'}
                    <li><a href="/index/activity/product_list?activity_id={$Think.request.activity_id}">上传作品展示</a></li>
                {else}
                    <li><a href="/index/activity/res?activity_id={$Think.request.activity_id}">结果公示</a></li>
                {/if}
            {/if}
        </ul>
        <div class="clearfix hdCz">
            {if $is_signup == 1 && $is_upload_product==0 && $activity_status != 'ending'}
            <a href="/index/activity/info?activity_id={$activity_info.activity_id}&step=upload" class="fr {if $step == 'upload'}current{/if}"><i class="hdIcon01"></i>作品上传</a>
            {/if}
            {if $is_signup == 0 && $activity_status != 'ending'}
            <a href="/index/activity/info?activity_id={$activity_info.activity_id}&step=signup" class="fr {if $step == 'signup'}current{/if}"><i class="hdIcon02"></i>活动报名</a>
            {/if}
            <a href="/index/activity/index" class="fr"><i class="hdIcon03"></i>所有活动</a>
        </div>
    </div>
    <div class="wrap1755 heit72">
        <input type="hidden" name="activity_id" id="activity_id" value="{$activity_info.activity_id}"/>
        <span class="snow03" style="width:16.5rem"></span>
        <span class="zs"></span>
        <div class="hdBox clearfix">
            <div class="fl wid622">
                <div class="hdImg"><a href="#"><img src="{$activity_info.activity_img}"></a></div>
                <div class="hdSmallImg">
                    <div id="colee_right">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td id="colee_right1" valign="top" align="center">
                                    <table cellpadding="2" cellspacing="0" border="0">
                                        <tr align="center">
                                            {volist name="activity_info.activity_gallery" id="vo"}
                                                <td><a href="javascrip:;"><img src="{$vo}"></a></td>
                                            {/volist}
                                            <!--
                                            <td><a href="javascrip:;"><img src="/temp/img.jpg"></a></td>
                                            <td><a href="javascrip:;"><img src="/temp/bg.png"></a></td>
                                            <td><a href="javascrip:;"><img src="http://js.alixixi.com/img/201108/1.jpg"></a></td>
                                            <td><a href="javascrip:;"><img src="http://js.alixixi.com/img/201108/1.jpg"></a></td>
                                            -->
                                        </tr>
                                    </table>
                                </td>
                                <td id="colee_right2" valign="top"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <script>
                    var speed=30//速度数值越大速度越慢
                    var colee_right2=document.getElementById("colee_right2");
                    var colee_right1=document.getElementById("colee_right1");
                    var colee_right=document.getElementById("colee_right");
                    colee_right2.innerHTML=colee_right1.innerHTML
                    function Marquee4(){
                        if(colee_right.scrollLeft <= 0){
                            colee_right.scrollLeft+=colee_right2.offsetWidth
                        }else{
                            colee_right.scrollLeft--
                        }
                    }
                    var MyMar4=setInterval(Marquee4,speed)
                    colee_right.onmouseover=function() {clearInterval(MyMar4)}
                    colee_right.onmouseout=function() {MyMar4=setInterval(Marquee4,speed)}
                    //点击小图展示大图
                    $(function(){
                        $(".hdSmallImg img").click(function(){
                            var src=$(this)[0].src;
                            $(".hdImg img").attr("src",src)
                        })

                    })
                </script>
            </div>
            <ul class="fr">
                <li><span>活动时间：</span>{$activity_info.start_time|date='Y-m-d',###}—{$activity_info.end_time|date='Y-m-d',###}</li>
                <li><span>活动地点：</span>{$activity_info.address}</li>
                <li><span>主办方：</span>紫葡萄少儿艺术库</li>
                <li><span>活动简介：</span></li>
                <li>
                    <p>{$activity_info.activity_desc}</p>
                </li>
            </ul>

            {if $activity_status == 'ending'}
            <span class="hdEnd"></span>
            {/if}

        </div>
    </div>
</div>

{include file="common/page_footer" /}

<!-- 报名弹层 -->
{if $step == 'signup'}
{include file="common/activity_signup_pop" /}
{/if}


<!-- 读者证号报名弹窗 -->
{if $step == 'readno_signup'}
{include file="common/activity_readno_signup" /}
{/if}


<!-- 手机号报名弹窗 -->
{if $step == 'mobile_signup'}
{include file="common/activity_mobile_signup" /}
{/if}


<!-- 上传文件弹层 -->
{if $step == 'upload'}
{include file="common/activity_upload_file" /}
{/if}


<!-- 上传文件弹层 -->
{if $step == 'upload_info'}
{include file="common/activity_upload_info" /}
{/if}


{if !$Think.session.user_id}
{include file="common/login_pop" /}
{/if}

</body>
</html>
