
{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}

<div class="boxP">
    <div class="titP">
        <h4>添加角色</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post">
        <!--单文本输入-->
        <dl>
            <dt>角色名称</dt>
            <dd>
                <div class="inputP">
                    <input type="text" class="xxl" name="role_name" value="" maxlength="20"/>
                </div>
            </dd>
        </dl>

        <!--复选-->
        <dl>
            <dt>选择分类</dt>

            {foreach name="privilege_lsit" item="vo" key="privilege_key"}
            <dd>
                <div class="inputP">
                    <label><input type="checkbox" class="series_{$privilege_key}" id="series_{$privilege_key}" data-series="{$privilege_key}" value="1" />
                        <strong>{$vo.name}</strong>
                    </label>
                </div>
            </dd>
            <dd style="margin-bottom:20px">
                <div class="inputP">
                    {foreach name="vo.child" item="role_list" key="role_key"}
                    {foreach name="role_list" item="item_row" key="item_key"}
                        <label>
                            <input type="checkbox" name="privilege[{$privilege_key}][{$role_key}][{$item_key}]" value="1" class="item_{$privilege_key}" data-series="{$privilege_key}"/>{$item_row}
                        </label>
                    {/foreach}
                    {/foreach}
                </div>
            </dd>
            {/foreach}
        </dl>

        <dl>
            <dt>备注</dt>
            <dd>
                <div class="inputP textareaP" id="special_attention">
                    <textarea name="remark"  placeholder="请输入备注" maxlength="1000"></textarea>
                    <!--<div class="tip">0/50</div>-->
                </div>
            </dd>
        </dl>

        <!--确定按钮-->
        <dl>
            <dt></dt>
            <dd>
                <input type="submit" value="确定" class="btnP" >
                <a href="/admin/role/index" class="btnP btnDark">取消</a>
            </dd>
        </dl>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("input[class^='series_']").click(function(){
            var series_name = $(this).attr('data-series');
            var series_id = $(this).attr('id');
            if($(this).is(":checked")){
                console.log('选中')
                $('.item_'+series_name).prop('checked',true);
            } else {
                console.log('未选中')
                $('.item_'+series_name).prop('checked',false);
            }
        })

        $("input[class^='item_']").click(function(){
            var series_name = $(this).attr('data-series');
            if($(this).is(":checked")){
                console.log('项目选中='+series_name)
                $('.series_'+series_name).prop('checked',true);
            } else {
                //console.log('项目未选中='+series_name)
                //$('.series_'+series_name).prop('checked',false);
            }
        })
    })
</script>
