
{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}

<div class="boxP">
    <div class="titP">
        <h4>添加角色</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post">
            <!--单文本输入-->
            <dl>
                <dt>角色名称</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" class="xxl" name="role_name" value="{$role_info.role_name}" maxlength="20"/>
                    </div>
                </dd>
            </dl>

            <!--复选-->
            <dl>
                <dt>选择分类</dt>

                {foreach name="privilege_lsit" item="vo" key="privilege_key"}
                <dd>
                    <div class="inputP">
                        <label><input type="checkbox"><strong>{$vo.name}</strong></label>
                    </div>
                </dd>
                <dd style="margin-bottom:20px">
                    <div class="inputP">
                        {foreach name="vo.child" item="role_list" key="role_key"}
                        {foreach name="role_list" item="item_row" key="item_key"}
                        <label><input type="checkbox" name="privilege[{$privilege_key}][{$role_key}][{$item_key}]" value="1" >{$item_row}</label>
                        {/foreach}
                        {/foreach}
                    </div>
                </dd>
                {/foreach}
            </dl>

            <dl>
                <dt>备注</dt>
                <dd>
                    <div class="inputP textareaP" id="special_attention">
                        <textarea name="remark"  placeholder="请输入备注" maxlength="1000">{$role_info.remark}</textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                </dd>
            </dl>

            <!--确定按钮-->
            <dl>
                <dt></dt>
                <dd> <input type="submit" value="确定" class="btnP" > </dd>
            </dl>
        </form>
    </div>
</div>

