<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/css/common.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/ratio.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/wrap.js"></script>
    <script type="text/javascript" src="/js/jquery.jslides.js"></script>

</head>

<body>
<div class="wrap">
    <div class="header">
        <a href="#" class="fl logo"><img src="/images/logo.png" width="100%"></a>
        <a href="#" class="fr unLogin">
            <i></i>
            <p>未登录</p>
        </a>
        <a href="#" class="fr sear">
            <i></i>
            <p>搜索</p>
        </a>
    </div>
    <div class="indexMain">
        <div class="fl indexLeft">
            <div class="fl banner">
                <div id="full-screen-slider">
                    <ul id="slides">
                        <li><a href="#"><img src="/temp/img.jpg"></a></li>
                        <li><a href="#"><img src="/temp/bg.png"></a></li>
                    </ul>
                </div>
            </div>
            <div class="fr banner02">
                <dl>
                    <dt><a href="#"><img src="/temp/bg.png"><b class="play"></b></a></dt>
                    <dd><a href="#">文化遗产技艺大展展示</a></dd>
                </dl>
            </div>
            <div class="clear"></div>
            <div class="clearfix video">
                <ul>
                    <li><a href="#"><img src="/temp/img.jpg"><b class="play"></b></a></li>
                    <li><a href="#"><img src="/temp/img.jpg"><b class="play"></b></a></li>
                    <li><a href="#"><img src="/temp/img.jpg"><b class="play"></b></a></li>
                </ul>
            </div>
        </div>
        <div class="fr indexRight">
            <h3><i></i>大家都在看</h3>
            <ul>
                <li><a href="#">爱我你就抱抱我</a></li>
                <li><a href="#">夏天吃荔枝</a></li>
                <li><a href="#">幼儿遇到地震</a></li>
                <li><a href="#">绘画课程</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="indexNav">
        <ul class="nav">
            <li class="nav01">
                <a href="#">
                    <div class="navFont">民间艺术</div>
                    <div class="cicle">
                        <span class="fl"></span><span class="fr"></span>
                    </div>
                </a>
            </li>
            <li class="nav02">
                <a href="#">
                    <div class="navFont">绘画</div>
                    <div class="cicle">
                        <span class="fl"></span><span class="fr"></span>
                    </div>
                </a>
            </li>
            <li class="nav03">
                <a href="#">
                    <div class="navFont">手工</div>
                    <div class="cicle">
                        <span class="fl"></span><span class="fr"></span>
                    </div>
                </a>
            </li>
            <li class="nav04">
                <a href="#">
                    <div class="navFont">书法</div>
                    <div class="cicle">
                        <span class="fl"></span><span class="fr"></span>
                    </div>
                </a>
            </li>
            <li class="nav05">
                <a href="#">
                    <div class="navFont">舞蹈</div>
                    <div class="cicle">
                        <span class="fl"></span><span class="fr"></span>
                    </div>
                </a>
            </li>
            <li class="nav06">
                <a href="#">
                    <div class="navFont">音乐</div>
                    <div class="cicle">
                        <span class="fl"></span><span class="fr"></span>
                    </div>
                </a>
            </li>
            <li class="nav07">
                <a href="#">
                    <div class="navFont">棋类</div>
                    <div class="cicle">
                        <span class="fl"></span><span class="fr"></span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="trainBg"></div>
    </div>
    <div class="footer">2009-2018 Aliyun.com 版权所有ICP证：苏ICP备13035115号-6  苏公备案 3301000200099号</div>

</div>
<style type="text/css">
    .footer{margin-top:-.8rem}
</style>
</body>
</html>
