

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/manage/index/index">起始页</a>
            </li>
        </ul>
    </div>

    <div class="page-content">

        {if $error_msg}
            <!-- 错误提示 -->
            <div class="col-sm-10">
                <h3 class="header smaller lighter green">
                    <i class="icon-bullhorn"></i>
                    错误提示
                </h3>

                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    {$error_msg}
                </div>
            </div>
        {/if}


        <!-- 验证表单部分 -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" action="/manage/activity/add" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 活动名称 </label>
                        <div class="col-sm-9">
                            <input type="text" name="activity_name" value="{$activity_info.activity_name??''}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >所属机构 </label>
                        <div class="col-sm-9">
                            <select name="customer_id">
                                <option value="0">请选择</option>
                                {volist name="customer_list" id="customer"}
                                    <option value="{$customer.customer_id}">{$customer.customer_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">活动时间</label>
                        <div class="col-sm-4">
                            <div class="col-xs-6">
                                <div class="input-group input-group-sm">
                                    <input name="start_date" type="text" id="start_date" class="form-control" data-date-format="yyyy-mm-dd" />
                                        <span class="input-group-addon">
                                            <i class="icon-calendar"></i>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="col-xs-6">
                                <div class="input-group input-group-sm">
                                    <input name="end_date" type="text" id="end_date" class="form-control" data-date-format="yyyy-mm-dd" />
                                        <span class="input-group-addon">
                                            <i class="icon-calendar"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 活动位置 </label>
                        <div class="col-sm-9">
                            <input type="text" name="address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 能否报名 </label>
                        <div class="col-sm-9">
                            <input type="checkbox" name="is_signup" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">报名时间</label>
                        <div class="col-sm-4">
                            <div class="col-xs-6">
                                <div class="input-group input-group-sm">
                                    <input name="signup_start_date" type="text" id="signup_start_date" class="form-control" data-date-format="yyyy-mm-dd" />
                                        <span class="input-group-addon">
                                            <i class="icon-calendar"></i>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="col-xs-6">
                                <div class="input-group input-group-sm">
                                    <input name="signup_end_date" type="text" id="signup_end_date" class="form-control" data-date-format="yyyy-mm-dd" />
                                        <span class="input-group-addon">
                                            <i class="icon-calendar"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 人数限制 </label>
                        <div class="col-sm-9">
                            <input type="text" name="max_number" maxlength="6" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 活动图片 </label>
                        <div class="col-sm-9">
                            活动封面：<input type="file" name="activity_img" />
                            活动图集：<input type="file" name="activity_gallery_1" />
                            活动图集：<input type="file" name="activity_gallery_2" />
                            活动图集：<input type="file" name="activity_gallery_3" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">活动简介：</label>
                        <div class="col-sm-9">
                            <textarea name="activity_desc" id="form-field-11" class="autosize-transition form-control" placeholder="请活动简介"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">参与方式：</label>
                        <div class="col-sm-9">
                            <textarea name="join_rule" id="form-field-12" class="autosize-transition form-control" placeholder="请参与方式"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">活动奖励：</label>
                        <div class="col-sm-9">
                            <textarea name="activity_reward" id="form-field-13" class="autosize-transition form-control" placeholder="请活动奖励"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">特别注意：</label>
                        <div class="col-sm-9">
                            <textarea name="special_attention" id="form-field-14" class="autosize-transition form-control" placeholder="请特别注意"></textarea>
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <input class="btn btn-info" type="submit" value="提交"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div><!-- /.main-content -->

<script>
    jQuery(function($) {
        $("#start_date").datepicker({
            showOtherMonths: true,
            selectOtherMonths: false,
            dateFormat: "yy-mm-dd"
        });
        $("#end_date").datepicker({
            showOtherMonths: true,
            selectOtherMonths: false,
            dateFormat: "yy-mm-dd"
        });

        $("#signup_start_date").datepicker({
            showOtherMonths: true,
            selectOtherMonths: false,
            dateFormat: "yy-mm-dd"
        });
        $("#signup_end_date").datepicker({
            showOtherMonths: true,
            selectOtherMonths: false,
            dateFormat: "yy-mm-dd"
        });

    });
</script>







