
<div class="boxP">
    <div class="titP">
        <h4>banner列表</h4>
        <div class="btnMng">
            <a href="/admin/banner/add" class="btnP">新建</a>
        </div>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>活动id</th>
                <th>banner标题</th>
                <th>图片</th>
                <th>链接</th>
                <th>位置</th>
                <th>简介</th>
                <th>状态</th>
                <th>操作</th>
            </tr>


            {foreach name="banner_list" item="vo" key="k"}
            <tr>
                <td>{$vo.banner_id}</td>
                <td>{$vo.title}</td>
                <td><img width="30" src="{$vo.banner_img}"/></td>
                <td>{$vo.url}</td>
                <td>{$vo.banner_type}</td>
                <td>{$vo.remark}</td>
                <td>{$vo.status == 1 ? '启用' : '禁用'}</td>
                <td class="opt">

                    {if  $vo.status==1}
                    <a class="blue" href="/admin/banner/change_status?banner_id={$vo.banner_id}&status=0">
                        <span>禁用</span>
                    </a>
                    {else}
                    <a class="blue" href="/admin/banner/change_status?banner_id={$vo.banner_id}&status=1">
                        <span>启用</span>
                    </a>
                    {/if}

                    <a class="blue" href="/admin/banner/edit?banner_id={$vo.banner_id}">
                        <span>编辑</span>
                    </a>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <div class="pageBar">
            <div>总共<em>{$banner_list->total()}</em>条, 当前<em>{$banner_list->currentPage()}</em>/<em>{$banner_list->lastPage()}</em>页</div>
            <div>
                {$banner_list->render()}
            </div>
        </div>
    </div>
</div>

