{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}


<div class="boxP">
    <div class="titP">
        <h4>添加客户</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post">
        <dl>
            <dt><span class="redSpan">*</span>客户名称</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="customer_name" value="" maxlength="50"/>
                </div>
                <span>请输入客户名称</span>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>所属区域</dt>
            <dd>
                <ul class="selectP">
                    <li>
                        <select name="region_name">
                            <option value="">请选择</option>
                            <option value="北京" >北京</option>
                            <option value="上海" >上海</option>
                            <option value="广州" >广州</option>
                            <option value="深圳" >深圳</option>
                            <option value="呼和浩特" >呼和浩特</option>
                            <option value="济南" >济南</option>
                            <option value="石家庄" >石家庄</option>
                            <option value="长春" >长春</option>
                            <option value="哈尔滨" >哈尔滨</option>
                            <option value="沈阳" >沈阳</option>
                            <option value="乌鲁木齐" >乌鲁木齐</option>
                            <option value="兰州" >兰州</option>
                            <option value="银川" >银川</option>
                            <option value="太原" >太原</option>
                            <option value="西安" >西安</option>
                            <option value="郑州" >郑州</option>
                            <option value="合肥" >合肥</option>
                            <option value="南京" >南京</option>
                            <option value="杭州" >杭州</option>
                            <option value="福州" >福州</option>
                            <option value="广州" >广州</option>
                            <option value="南昌" >南昌</option>
                            <option value="海口" >海口</option>
                            <option value="南宁" >南宁</option>
                            <option value="贵阳" >贵阳</option>
                            <option value="长沙" >长沙</option>
                            <option value="武汉" >武汉</option>
                            <option value="成都" >成都</option>
                            <option value="昆明" >昆明</option>
                            <option value="拉萨" >拉萨</option>
                            <option value="西宁" >西宁</option>
                            <option value="天津" >天津</option>
                            <option value="上海" >上海</option>
                            <option value="重庆" >重庆</option>
                            <option value="台北" >台北</option>
                            <option value="香港" >香港</option>
                            <option value="澳门" >澳门</option>
                        </select>
                    </li>
                </ul>
                <span>请选择所属区域</span>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>客户联系人</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="customer_link_person" value="" maxlength="10"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>联系人电话</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="link_person_mobile" value="" maxlength="11"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>销售对接人</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="sale_person" value="" maxlength="20" />
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>客户账号</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="account_no" style="display: none;"/>
                    <input type="text" name="account_no" value="" maxlength="30" autocomplete="off"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>密码</dt>
            <dd>
                <div class="inputP">
                    <input type="password" name="password" style="display: none;"/>
                    <input type="password" name="password" value="" maxlength="15" autocomplete="off"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>注册时间</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="start_time" id="start_time" value="" maxlength="11" />
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>失效时间</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="end_time" id="end_time" value="" maxlength="11"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>用户类型</dt>
            <dd>
                <div class="inputP">
                    <label><input type="radio" name="type" value="1" checked />正式用户</label>
                    <label><input type="radio" name="type" value="0" />试用用户</label>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>用户登录校验方式</dt>
            <dd>
                <div class="inputP">
                    <label><input type="radio" name="login_type" value="1" checked />本地数据表校验登录</label>
                    <label><input type="radio" name="login_type" value="2" />提供接口校验登录</label>
                </div>
            </dd>
        </dl>

        <!--确定按钮-->
        <dl>
            <dt></dt>
            <dd> <input type="submit" value="确定" class="btnP" > </dd>
        </dl>
        </form>
    </div>
</div>

<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#start_time,#end_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d"
    });
</script>