{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}


<div class="boxP">
    <div class="titP">
        <h4>添加客户</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post">
        <dl>
            <dt><span class="redSpan">*</span>客户名称</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="customer_name" value="" maxlength="50"/>
                </div>
                <span>请输入客户名称</span>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>所属区域</dt>
            <dd>
                <ul class="selectP">
                    <li>
                        <select name="province_id" id="province">
                            <option value="">请选择</option>
                            {volist name="province_list" id="vo"}
                                <option value="{$vo.region_id}">{$vo.region_name}</option>
                            {/volist}
                        </select>
                    </li>
                    <li>
                        <select name="city_id" id="city">
                            <option value="">请选择</option>
                        </select>
                    </li>
                    <li>
                        <select name="district_id" id="district">
                            <option value="">请选择</option>
                        </select>
                    </li>
                    </li>
                </ul>
                <span>请选择所属区域</span>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>客户联系人</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="customer_link_person" value="" maxlength="10"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>联系人电话</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="link_person_mobile" value="" maxlength="11"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>销售对接人</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="sale_person" value="" maxlength="20" />
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>客户账号</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="account_no" style="display: none;"/>
                    <input type="text" name="account_no" value="" maxlength="30" autocomplete="off"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>密码</dt>
            <dd>
                <div class="inputP">
                    <input type="password" name="password" style="display: none;"/>
                    <input type="password" name="password" value="" maxlength="15" autocomplete="off"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>注册时间</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="start_time" id="start_time" value="" maxlength="11" />
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>失效时间</dt>
            <dd>
                <div class="inputP">
                    <input type="text" name="end_time" id="end_time" value="" maxlength="11"/>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>用户类型</dt>
            <dd>
                <div class="inputP">
                    <label><input type="radio" name="type" value="1" checked />正式用户</label>
                    <label><input type="radio" name="type" value="0" />试用用户</label>
                </div>
            </dd>
        </dl>

        <dl>
            <dt><span class="redSpan">*</span>用户登录校验方式</dt>
            <dd>
                <div class="inputP">
                    <label><input type="radio" name="login_type" value="1" checked />本地数据表校验登录</label>
                    <label><input type="radio" name="login_type" value="2" />提供接口校验登录</label>
                </div>
            </dd>
        </dl>

        <!--确定按钮-->
        <dl>
            <dt></dt>
            <dd>
                <input type="submit" value="确定" class="btnP" >
                <a href="/admin/customer/index" class="btnP btnDark">取消</a>
            </dd>
        </dl>
        </form>
    </div>
</div>

<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#start_time,#end_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d"
    });

    $(function(){
        $('#province').change(function(){
            if($('#province').val() == 0 || $('#province').val() == ''){
                return false;
            }
            $('#city').html('<option value="0">请选择</option>');
            $.ajax({
                type: 'POST',
                async: false, //注意这里要求为Boolean类型的参数，false不能写成'false'不然会被解析成true
                url: '/admin/index/region_list' ,
                data: 'parent_id='+ $('#province').val() +'&m='+ Math.random() ,
                dataType:'json',
                cache:false, //同理
                success: function(data){
                    if(data.code ==200){
                        var select_str = '<option value="0">请选择</option>';
                        $.each(data.data,function(idx,obj){
                            select_str +=  '<option value="'+obj.region_id+'">'+obj.region_name+'</option>';
                        })
                        $('#city').html(select_str);
                    } else{
                        alert('获取数据错误');
                    }
                } ,
                error:function(){
                    alert('获取数据失败，请刷新重试');
                },
            });
        })

        $('#city').change(function(){
            if($('#city').val() == 0 || $('#city').val() == ''){
                return false;
            }
            $('#district').html('<option value="0">请选择</option>');
            $.ajax({
                type: 'POST',
                async: false, //注意这里要求为Boolean类型的参数，false不能写成'false'不然会被解析成true
                url: '/admin/index/region_list' ,
                data: 'parent_id='+ $('#city').val() +'&m='+ Math.random() ,
                dataType:'json',
                cache:false, //同理
                success: function(data){
                    if(data.code ==200){
                        var select_str = '<option value="0">请选择</option>';
                        $.each(data.data,function(idx,obj){
                            select_str +=  '<option value="'+obj.region_id+'">'+obj.region_name+'</option>';
                        })
                        $('#district').html(select_str);
                    } else{
                        alert('获取数据错误');
                    }
                } ,
                error:function(){
                    alert('获取数据失败，请刷新重试');
                },
            });
        })
    })
</script>
