{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}


<div class="boxP">
    <div class="titP">
        <h4>修改客户</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post">
            <dl>
                <dt><span class="redSpan">*</span>客户名称</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="customer_name" value="{$customer_info.customer_name}" maxlength="50"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>微信首页地址</dt>
                <dd>
                    <div class="inputP">
                        <span>http://www.zptys.net/wechat/index/index?customer_id={$customer_info.customer_id}</span>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>所属区域</dt>
                <dd>
                    <ul class="selectP">
                        <li>
                            <select name="region_name">
                                <option value="">请选择</option>
                                <option value="北京" {if $customer_info.region_name=="北京" }selected{/if}>北京</option>
                                <option value="上海" {if $customer_info.region_name=="上海" }selected{/if}>上海</option>
                                <option value="广州" {if $customer_info.region_name=="广州" }selected{/if}>广州</option>
                                <option value="深圳" {if $customer_info.region_name=="深圳" }selected{/if}>深圳</option>
                                <option value="呼和浩特" {if $customer_info.region_name=="呼和浩特" }selected{/if}>内蒙古</option>
                                <option value="济南" {if $customer_info.region_name=="济南" }selected{/if}>济南</option>
                                <option value="石家庄" {if $customer_info.region_name=="石家庄" }selected{/if}>石家庄</option>
                                <option value="长春" {if $customer_info.region_name=="长春" }selected{/if}>长春</option>
                                <option value="哈尔滨" {if $customer_info.region_name=="哈尔滨" }selected{/if}>哈尔滨</option>
                                <option value="沈阳" {if $customer_info.region_name=="沈阳" }selected{/if}>沈阳</option>
                                <option value="乌鲁木齐" {if $customer_info.region_name=="乌鲁木齐" }selected{/if}>乌鲁木齐</option>
                                <option value="兰州" {if $customer_info.region_name=="兰州" }selected{/if}>兰州</option>
                                <option value="银川" {if $customer_info.region_name=="银川" }selected{/if}>银川</option>
                                <option value="太原" {if $customer_info.region_name=="太原" }selected{/if}>太原</option>
                                <option value="西安" {if $customer_info.region_name=="西安" }selected{/if}>西安</option>
                                <option value="郑州" {if $customer_info.region_name=="郑州" }selected{/if}>郑州</option>
                                <option value="合肥" {if $customer_info.region_name=="合肥" }selected{/if}>合肥</option>
                                <option value="南京" {if $customer_info.region_name=="南京" }selected{/if}>南京</option>
                                <option value="杭州" {if $customer_info.region_name=="杭州" }selected{/if}>杭州</option>
                                <option value="福州" {if $customer_info.region_name=="福州" }selected{/if}>福州</option>
                                <option value="广州" {if $customer_info.region_name=="广州" }selected{/if}>广州</option>
                                <option value="南昌" {if $customer_info.region_name=="南昌" }selected{/if}>南昌</option>
                                <option value="海口" {if $customer_info.region_name=="海口" }selected{/if}>海口</option>
                                <option value="南宁" {if $customer_info.region_name=="南宁" }selected{/if}>南宁</option>
                                <option value="贵阳" {if $customer_info.region_name=="贵阳" }selected{/if}>贵阳</option>
                                <option value="长沙" {if $customer_info.region_name=="长沙" }selected{/if}>长沙</option>
                                <option value="武汉" {if $customer_info.region_name=="武汉" }selected{/if}>武汉</option>
                                <option value="成都" {if $customer_info.region_name=="成都" }selected{/if}>成都</option>
                                <option value="昆明" {if $customer_info.region_name=="昆明" }selected{/if}>昆明</option>
                                <option value="拉萨" {if $customer_info.region_name=="拉萨" }selected{/if}>拉萨</option>
                                <option value="西宁" {if $customer_info.region_name=="西宁" }selected{/if}>西宁</option>
                                <option value="天津" {if $customer_info.region_name=="天津" }selected{/if}>天津</option>
                                <option value="上海" {if $customer_info.region_name=="上海" }selected{/if}>上海</option>
                                <option value="重庆" {if $customer_info.region_name=="重庆" }selected{/if}>重庆</option>
                                <option value="台北" {if $customer_info.region_name=="台北" }selected{/if}>台北</option>
                                <option value="香港" {if $customer_info.region_name=="香港" }selected{/if}>香港</option>
                                <option value="澳门" {if $customer_info.region_name=="澳门" }selected{/if}>澳门</option>
                            </select>
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>客户联系人</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="customer_link_person" value="{$customer_info.customer_link_person}" maxlength="10"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>联系人电话</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="link_person_mobile" value="{$customer_info.link_person_mobile}" maxlength="11"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>销售对接人</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="sale_person" value="{$customer_info.sale_person}" maxlength="20" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>客户账号</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="account_no" value="{$customer_info.account_no}" maxlength="30" autocomplete="off" readonly />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>密码</dt>
                <dd>
                    <div class="inputP">
                        <input type="password" name="password" style="display: none;"/>
                        <input type="password" name="password" value="" maxlength="15" autocomplete="off"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>注册时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="start_time" id="start_time" value="{$customer_info.start_time|date='Y-m-d',###}" maxlength="11" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>失效时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="end_time" id="end_time" value="{$customer_info.end_time|date='Y-m-d',###}" maxlength="11"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>用户类型</dt>
                <dd>
                    <div class="inputP">
                        <label><input type="radio" name="type" value="1" {if $customer_info.type=='正式客户' }checked{/if}  />正式客户</label>
                        <label><input type="radio" name="type" value="0" {if $customer_info.type=='试用客户' }checked{/if}  />试用用户</label>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>用户登录校验方式</dt>
                <dd>
                    <div class="inputP">
                        <label><input type="radio" name="login_type" value="1" {if $customer_info.login_type==1 }checked{/if} />本地数据表校验登录</label>
                        <label><input type="radio" name="login_type" value="2" {if $customer_info.login_type==2 }checked{/if} />提供接口校验登录</label>
                    </div>
                </dd>
            </dl>

            <!--确定按钮-->
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="确定" class="btnP" >
                    <a href="/admin/customer/index" class="btnP btnDark">取消</a>
                </dd>
            </dl>
        </form>
    </div>
</div>

<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#start_time,#end_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d"
    });
</script>