
<div class="boxP">
    <form method="get">
        <div class="titP">
            <h4>查询条件</h4>
        </div>
        <div class="boxP">
            <div class="formP searchFormP">
                <!--单文本输入-->
                <dl>
                    <dt>客户名称</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" name="customer_name" value="{$Think.get.customer_name}">
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>账号</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" name="account_no" value="{$Think.get.account_no}">
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>区域</dt>
                    <dd>
                        <ul class="selectP">
                            <li>
                                <select name="region_name">
                                    <option value="">请选择</option>
                                    <option value="北京" {if $Think.get.region_name == '北京'}selected{/if}>北京</option>
                                    <option value="上海" {if $Think.get.region_name == '上海'}selected{/if}>上海</option>
                                    <option value="广州" {if $Think.get.region_name == '广州'}selected{/if}>广州</option>
                                    <option value="深圳" {if $Think.get.region_name == '深圳'}selected{/if}>深圳</option>
                                </select>
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>销售对接人</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" name="sale_person" value="{$Think.get.sale_person}">
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>客户类型</dt>
                    <dd>
                        <ul class="selectP">
                            <li>
                                <select name="type">
                                    <option value="">请选择</option>
                                    <option value="1" {if $Think.get.type == '1'}selected{/if}>正式客户</option>
                                    <option value="0" {if $Think.get.type == '0'}selected{/if}>使用客户</option>
                                </select>
                            </li>
                        </ul>
                    </dd>
                </dl>

                <!--多下拉菜单-->
                <dl>
                    <dt>注册时间</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" placeholder="起始时间" name="start_time" id="start_time" value="{$Think.get.start_time}">
                            <label class="mid">至</label>
                            <input type="text" placeholder="结束时间" name="end_time" id="end_time" value="{$Think.get.end_time}">
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>失效时间</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" placeholder="起始时间" name="invalid_start_time" id="invalid_start_time" value="{$Think.get.invalid_start_time}">
                            <label class="mid">至</label>
                            <input type="text" placeholder="结束时间" name="invalid_end_time" id="invalid_end_time" value="{$Think.get.invalid_end_time}">
                        </div>
                    </dd>
                </dl>

                <a href="javascript:void(0)" class="btnExpand openMng"></a>
            </div>
            <!--确定按钮-->
            <dl class="rBtn searchBtns">
                <dt>　</dt>
                <dd>
                    <input type="submit" class="btnP" value="确定">
                    <!--<a href="javascript:void(0)" class="btnP btnDark">重置</a>-->
                </dd>
            </dl>
        </div>
    </form>
</div>




<div class="boxP">
    <div class="titP">
        <h4>客户管理列表</h4>
        <div class="btnMng">
            <a href="/admin/customer/add" class="btnP">新建</a>
        </div>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>客户id <!--<input type="checkbox">-->  </th>
                <th>客户名称</th>
                <th>账号</th>
                <th>销售对接人</th>
                <th>区域</th>
                <th>客户类型</th>
                <th>注册日期</th>
                <th>失效日期</th>
                <th>操作</th>
            </tr>

            {foreach name="customer_list" item="vo" key="k"}
            <tr>
                <td>
                    <!--<input type="checkbox">-->
                    {$vo.customer_id}
                </td>
                <td>{$vo.customer_name}</td>
                <td>{$vo.account_no}</td>
                <td>{$vo.sale_person}</td>
                <td>{$vo.region_name}</td>
                <td>{$vo.type}</td>
                <td>{$vo.start_time|date="Y-m-d",###}</td>
                <td>{$vo.end_time|date="Y-m-d",###}</td>
                <td class="opt">

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>编辑</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>提醒</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>用户管理</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>时间管理</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>ip管理</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>密码更改</span>
                        </a>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <!--
        <div class="opt">
            <label><input type="checkbox">全选</label>
            <a href="#">删除</a>
            <a href="#">催还</a>
        </div>
        -->
        <div class="pageBar">
            <div>总共<em>{$customer_list->total()}</em>条, 当前<em>{$customer_list->currentPage()}</em>/<em>{$customer_list->lastPage()}</em>页</div>
            <div>
                {$customer_list->render()}
            </div>
        </div>
    </div>
</div>

<script>
    //form查询表单展开收起效果
    function searchExpand(){
        var at = 'auto';
        var sfp = $('.searchFormP');
        var btn = $('.searchFormP .btnExpand');
        $('.searchFormP').css('height',45);
        btn.on('click',function(){
            var h = sfp.height();
            if(h<=50){
                btn.addClass('closeMng');
                sfp.css('height',at);
            }else{
                btn.removeClass('closeMng');
                sfp.css('height',45);
            }
        })
    }
    $(function(){
        searchExpand();
    })
</script>

<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#start_time,#end_time,#invalid_start_time,#invalid_end_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d"
    });
</script>
