<div class="boxP">
    <form method="get">
    <div class="formP">
        <dl>
            <dt>客户名称</dt>
            <dd>
                <div class="inputP">
                    <input type="text" placeholder="请输入客户名称" name="customer_name" value="{$Think.get.customer_name}">
                </div>
            </dd>
        </dl>

        <dl>
            <dt>账号</dt>
            <dd>
                <div class="inputP">
                    <input type="text" placeholder="请输入账号" name="account_no" value="{$Think.get.account_no}" >
                </div>
            </dd>
        </dl>

        <dl>
            <dt>区域</dt>
            <dd>
                <ul class="selectP">
                    <li>
                        <select name="region_name">
                            <option value="">请选择</option>
                            <option value="北京" {if $Think.get.region_name == '北京'}selected{/if}>北京</option>
                            <option value="上海" {if $Think.get.region_name == '上海'}selected{/if}>上海</option>
                            <option value="广州" {if $Think.get.region_name == '广州'}selected{/if}>广州</option>
                            <option value="深圳" {if $Think.get.region_name == '深圳'}selected{/if}>深圳</option>
                        </select>
                    </li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt>销售对接人</dt>
            <dd>
                <div class="inputP">
                    <input type="text" placeholder="请输入销售对接人" name="sale_person" value="{$Think.get.sale_person}">
                </div>
            </dd>
        </dl>

        <dl>
            <dt>客户类型</dt>
            <dd>
                <ul class="selectP">
                    <li>
                        <select name="type">
                            <option value="">请选择</option>
                            <option value="1" {if $Think.get.type == '1'}selected{/if}>正式客户</option>
                            <option value="0" {if $Think.get.type == '0'}selected{/if}>使用客户</option>
                        </select>
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="btnMng"> <dt></dt> <dd> <input type="submit" value="搜索" class="btnP" /> </dd>  </dl>
    </div>
    </form>
</div>


<div class="boxP">
    <div class="titP">
        <h4>客户管理列表</h4>
        <div class="btnMng">
            <a href="/admin/customer/add" class="btnP">新建</a>
        </div>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>客户id <!--<input type="checkbox">-->  </th>
                <th>客户名称</th>
                <th>账号</th>
                <th>销售对接人</th>
                <th>区域</th>
                <th>客户类型</th>
                <th>注册日期</th>
                <th>失效日期</th>
                <th>操作</th>
            </tr>

            {foreach name="customer_list" item="vo" key="k"}
            <tr>
                <td>
                    <!--<input type="checkbox">-->
                    {$vo.customer_id}
                </td>
                <td>{$vo.customer_name}</td>
                <td>{$vo.account_no}</td>
                <td>{$vo.sale_person}</td>
                <td>{$vo.region_name}</td>
                <td>{$vo.type}</td>
                <td>{$vo.start_time|date="Y-m-d",###}</td>
                <td>{$vo.end_time|date="Y-m-d",###}</td>
                <td class="opt">

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>编辑</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>提醒</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>用户管理</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>时间管理</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>ip管理</span>
                        </a>

                        <a href="/admin/customer/edit?customer_id={$vo.customer_id}">
                            <span>密码更改</span>
                        </a>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <!--
        <div class="opt">
            <label><input type="checkbox">全选</label>
            <a href="#">删除</a>
            <a href="#">催还</a>
        </div>
        -->
        <div class="pageBar">
            <div>总共<em>{$customer_list->total()}</em>条, 当前<em>{$customer_list->currentPage()}</em>/<em>{$customer_list->lastPage()}</em>页</div>
            <div>
                {$customer_list->render()}
            </div>
        </div>
    </div>
</div>
