{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}

<div class="boxP">
    <div class="titP">
        <h4>添加ip</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post">

            <dl>
                <dt>ip编号</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="id" value="{$ip_info.id}" readonly/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>起始ip</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="start_ip" value="{$ip_info.start_ip|long2ip}" maxlength="50"/>
                    </div>
                    <span>请输入起始ip</span>
                </dd>
            </dl>

            <dl>
                <dt>结束ip</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="end_ip" value="{$ip_info.end_ip|long2ip}" maxlength="50"/>
                    </div>
                    <span>请输入结束ip</span>
                </dd>
            </dl>

            <dl>
                <dt>流媒体地址</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="media_url" value="{$ip_info.media_url}" maxlength="50"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>免登陆</dt>
                <dd>
                    <div class="inputP">
                        <label><input type="radio" name="is_free_login" value="1" {if $ip_info.is_free_login == 1}checked{/if} />是</label>
                        <label><input type="radio" name="is_free_login" value="0" {if $ip_info.is_free_login == 0}checked{/if} />否</label>
                    </div>
                </dd>
            </dl>

            <input type="hidden" name="customer_id"  value="{$ip_info.customer_id}"/>
            <!--确定按钮-->
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="确定" class="btnP" >
                    <a href="/admin/customer/ip_list?customer_id={$Think.get.customer_id}" class="btnP btnDark">取消</a>
                </dd>
            </dl>
        </form>
    </div>
</div>
