
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if $page_title}{$page_title}{else}视频详情{/if}</title>
    <link href="/css/common.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/ratio.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/wrap.js"></script>
</head>

<body>
<div class="wrap">
    <div class="header">
        <a href="/" class="fl logo"><img src="/images/logo.png" width="100%"></a>
        {if !$Think.session.user_id}
        <a href="#" class="fr unLogin">
            <i></i>
            <p>未登录</p>
        </a>
        {else}
        <a href="/index/user/viewlist" class="fr unLogin">
            <img src="{$Think.session.avatar}">
        </a>
        {/if}
        <a href="/index/search/index" class="fr sear">
            <i></i>
            <p>搜索</p>
        </a>
    </div>
    <div class="PaintingMain">
        <div class="PaintNav fl">
            <ul>
                <li class="NHuihua CurliBg"><a href="/index/category/index?cat_id=1">绘画</a></li>
                <li class="Nsg"><a href="/index/category/index?cat_id=2">手工</a></li>
                <li class="Nsf"><a href="/index/category/index?cat_id=3">书法</a></li>
                <li class="Nwd"><a href="/index/category/index?cat_id=4">舞蹈</a></li>
                <li class="NHyy"><a href="/index/category/index?cat_id=5">音乐</a></li>
                <li class="Nql"><a href="/index/category/index?cat_id=6">棋类</a></li>
                <li class="Nsf"><a href="/index/category/index?cat_id=7">民间艺术</a></li>
            </ul>
        </div>
        <div class="Paintright fl">
            <div class="wrap1755" style="width:14.48rem">
                <span class="snow03" style="width:14.82rem"></span>
                <span class="zs"></span>
                <h3 class="keyTips">当前位置：<b>个人中心</b></h3>
                <div class="clearfix">
                    <div class="fl videoLeft">
                        <h3>{$video_info.title}</h3>
                        <div class="videoMid">
                            <!--<img src="{$video_info.video_img}" width="100%" height="100%">-->
                            <video controls width="100%" height="100%" poster="{$video_info.video_img}">
                                <source src="{$video_info.video_url}" type="video/mp4">
                            </video>
                        </div>
                        <div class="videoBot">
                            <a href="#" class="fr">查看简介&gt;&gt;</a>
                            <a href="#" class="share fl">分享</a>
                            <a href="#" class="sc fl">收藏</a>
                            <a href="#" class="dj fl">{$video_info.view_num}次播放</a>
                        </div>
                    </div>
                    <div class="fr videoRight02">
                        <h3><i></i>相关视频推荐</h3>
                        <div class="videoScrol">
                            {volist name="recommand_list" id="video"}
                            <dl>
                                <dt>
                                    <a href="/index/video/info?video_id={$video.video_id}"><img src="/temp/img.jpg"></a>
                                    <em>绘画 | 简笔画</em>
                                    <div class="Picinfo">
                                        <span class="fl">
                                            <b><i><img src="/images/eye.png"></i>{$video.view_num}</b>
                                            <b><i><img src="/images/sc.png"></i>{$video.like_num}</b>
                                        </span>
                                    </div>
                                </dt>
                                <dd>
                                    <h3><a href="#">{$video.title}</a></h3>
                                    <p>{$video.view_num}次播放</p>
                                    <p style="color:#999">2017-12-20</p>
                                </dd>
                            </dl>
                            {/volist}

                            <!--
                            <dl>
                                <dt>
                                    <a href="#"><img src="/temp/img.jpg"></a><em>绘画 | 简笔画</em>
                                <div class="Picinfo"><span class="fl"><b><i><img src="/images/eye.png"></i>742</b><b><i><img src="/images/sc.png"></i>742</b></span></div>
                                </dt>
                                <dd>
                                    <h3><a href="#">卡通人物的塑造卡通人物的塑造</a></h3>
                                    <p>4,678次播放</p>
                                    <p style="color:#999">2017-12-20</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <a href="#"><img src="/temp/img.jpg"></a><em>绘画 | 简笔画</em>
                                <div class="Picinfo"><span class="fl"><b><i><img src="/images/eye.png"></i>742</b><b><i><img src="/images/sc.png"></i>742</b></span></div>
                                </dt>
                                <dd>
                                    <h3><a href="#">卡通人物的塑造卡通人物的塑造</a></h3>
                                    <p>4,678次播放</p>
                                    <p style="color:#999">2017-12-20</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <a href="#"><img src="/temp/img.jpg"></a><em>绘画 | 简笔画</em>
                                <div class="Picinfo"><span class="fl"><b><i><img src="images/eye.png"></i>742</b><b><i><img src="images/sc.png"></i>742</b></span></div>
                                </dt>
                                <dd>
                                    <h3><a href="#">卡通人物的塑造卡通人物的塑造</a></h3>
                                    <p>4,678次播放</p>
                                    <p style="color:#999">2017-12-20</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <a href="#"><img src="/temp/img.jpg"></a><em>绘画 | 简笔画</em>
                                <div class="Picinfo"><span class="fl"><b><i><img src="/images/eye.png"></i>742</b><b><i><img src="/images/sc.png"></i>742</b></span></div>
                                </dt>
                                <dd>
                                    <h3><a href="#">卡通人物的塑造卡通人物的塑造</a></h3>
                                    <p>4,678次播放</p>
                                    <p style="color:#999">2017-12-20</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <a href="#"><img src="/temp/img.jpg"></a><em>绘画 | 简笔画</em>
                                <div class="Picinfo"><span class="fl"><b><i><img src="/images/eye.png"></i>742</b><b><i><img src="/images/sc.png"></i>742</b></span></div>
                                </dt>
                                <dd>
                                    <h3><a href="#">卡通人物的塑造卡通人物的塑造</a></h3>
                                    <p>4,678次播放</p>
                                    <p style="color:#999">2017-12-20</p>
                                </dd>
                            </dl>
                            -->
                        </div>
                        <b class="filter"></b>
                    </div>
                </div>
            </div>
            <div class="footer">2009-2018 Aliyun.com 版权所有ICP证：苏ICP备13035115号-6  苏公备案 3301000200099号</div>
        </div>


    </div>
</div>
</body>
</html>
