
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0"/>
    <meta charset="utf-8">
    <title>活动区</title>
    <link type="text/css" rel="stylesheet" href="/wechat/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/wechat/css/style.css" />
    <script src="/wechat/js/rem750.js" type="text/javascript"></script>
    <script src="/wechat/js/jquery.js" type="text/javascript"></script>
    <script src="/wechat/js/main.js" type="text/javascript"></script>
</head>

<body>
<div class="wrapMain">
    <ul class="allActivList" id="allActivList">
        {volist name="activity_list" id="vo"}
        <li><span class="{if $vo.status_txt == '进行中'}ongoing{else}onEnd{/if}">{$vo.status_txt}</span>
            <a href="/wechat/activity/info?activity_id={$vo.activity_id}">
                <img src="{$vo.activity_img}" />
            </a>
        </li>
        {/volist}
    </ul>
</div>
</body>
</html>
<script type="text/javascript">
    window.page    = 1;
    window.is_page_end = 0;
    function getActivityPage() {
        $.ajax({
            type: 'get',
            async: false,
            url: '/wechat/activity/activity_ajax' ,
            data: 'page='+ window.page + '&m='+ Math.random() ,
            dataType:'json',
            cache:false, //同理
            success: function(data){
                if(data.code == 200){
                    if(data.html == ''){
                        window.is_page_end = 1;
                    } else {
                        $('#allActivList').append(data.html);
                    }
                }
            } ,
            error:function(){
                return  false;
            },
        });
        //$("#page_tag_load").hide();
    }
    $(document).ready(function () {
        $(window).scroll(function () {
            var $body = $("body");
            /*判断窗体高度与竖向滚动位移大小相加 是否 超过内容页高度*/
            if (($(window).height() + $(window).scrollTop()) >= $body.height()) {
                //$("#page_tag_load").show();
                console.log('分页开始',window.page);
                window.page++;
                if(window.is_page_end != 1){
                    getActivityPage();
                }
            }
        });
    });
</script>
