
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0"/>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/wechat/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/wechat/css/style.css" />
    <script src="/wechat/js/rem750.js" type="text/javascript"></script>
    <script src="/wechat/js/jquery.js" type="text/javascript"></script>
    <script src="/wechat/js/main.js" type="text/javascript"></script>
</head>

<body>
<div class="wrapMain">
    <ul class="topTab clearfix">
        <li class="tabBg01"><a href="/wechat/activity/info?activity_id={$activity_info.activity_id}">活动简介</a></li>
        <li class="tabBg02"><a href="/wechat/activity/rule?activity_id={$activity_info.activity_id}">活动规则</a></li>
        {if $activity_status == 'ending'}
        <li class="tabBg03"><a href="/wechat/activity/res?activity_id={$activity_info.activity_id}">活动结果</a></li>
        {else}
        <li class="tabBg03"><a href="/wechat/activity/product_list?activity_id={$activity_info.activity_id}">作品展示</a></li>
        {/if}
    </ul>

    <div class="hdBox hdintro">
        <h3 class="hdTitle"><i></i>参与方式</h3>
        <p>{$activity_info.join_rule}</p>
        <!--
        <p>本视频由飞乐鸟工作室提供。飞鸟工作室是由国内知名插画家飞乐鸟发起的绘画工作室。致力于传播"创享美丽生活"的理念，对生活永远怀有最远大的梦想和最朴实的情怀，通过绘画、手作、栽培等多种形式让更多的人发现并享受身边的乐趣，为帮助每个爱画画、爱动手的人创作出令人感动的作品而努力。其代表作《三天学会铅笔画》、《从0开始学素描》、《怎么画都可爱的生活涂鸦》、《飞乐鸟的手绘时光》系列等长期荣登全国各大书店畅销榜，更有数十种版权远销海外。</p>
        <p>通过绘画、手作、栽培等多种形式让更多的人发现并享受身边的乐趣，为帮助每个爱画画、爱动手的人创作出令人感动的作品而努力。</p>
        -->
    </div>
    <p class="bord"></p>
    <div class="hdBox hdintro">
        <h3 class="hdTitle"><i class="special"></i>特别注意</h3>
        <p>{$activity_info.special_attention}</p>
        <!--
        <p>本视频由飞乐鸟工作室提供。飞鸟工作室是由国内知名插画家飞乐鸟发起的绘画工作室。致力于传播"创享美丽生活"的理念，对生活永远怀有最远大的梦想和最朴实的情怀，通过绘画、手作、栽培等多种形式让更多的人发现并享受身边的乐趣，为帮助每个爱画画、爱动手的人创作出令人感动的作品而努力。其代表作《三天学会铅笔画》、《从0开始学素描》、《怎么画都可爱的生活涂鸦》、《飞乐鸟的手绘时光》系列等长期荣登全国各大书店畅销榜，更有数十种版权远销海外。</p>
        -->
    </div>
    <p class="bord"></p>
    <!--<div class="heitBtn"><span class="hdSign">活动报名</span></div>-->
    {if $activity_status == 'starting'}
        {if $is_signup == 0}
        <div class="heitBtn"><span class="hdSign">上传作品</span></div>
        {/if}

        {if $is_upload_product == 0}
        <div class="heitBtn"><span class="hdSign">活动报名</span></div>
        {/if}
    {elseif $activity_status == 'ending'}
        <div class="heitBtn"><span class="hdSign grayBg">活动已结束</span></div>
    {else}
        <div class="heitBtn"><span class="hdSign grayBg">活动未开始</span></div>
    {/if}
</div>
</body>
</html>
