<div class="boxP">
    <form method="get">
        <div class="formP">
            <dl>
                <dt>作品名称</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="product_name" value="{$Think.get.product_name}">
                    </div>
                </dd>
            </dl>
            <dl class="btnMng"> <dt></dt> <dd> <input type="submit" value="搜索" class="btnP" /> </dd>  </dl>
        </div>
    </form>
</div>


<div class="boxP">
    <div class="titP">
        <h4>活动列表</h4>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>作品id</th>
                <th>作品名称</th>
                <th>作品类型</th>
                <th>缩略图</th>
                <th>所属活动</th>
                <th>作者姓名</th>
                <th>作者读者证号</th>
                <th>操作</th>
            </tr>

            {foreach name="product_list" item="vo" key="k"}
            <tr>
                <td>{$vo.product_id}</td>
                <td>{$vo.product_name}</td>
                <td>
                    {if $vo.type == 1}
                        图片
                    {elseif $vo.type == 2}
                        视频
                    {elseif $vo.type == 3}
                        音频
                    {/if}
                </td>
                <td><img src="{$vo.product_img}" width="30"></td>
                <td>{$vo.activity_name}</td>
                <td>{$vo.real_name}</td>
                <td>{$vo.reader_no}</td>
                <td class="opt">

                    <a class="blue" href="/admin/product/change_status?product_id={$vo.product_id}&status=1">
                        <span>设置奖项</span>
                    </a>

                    <a class="blue" href="/admin/product/edit?product_id={$vo.product_id}">
                        <span>编辑</span>
                    </a>

                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <div class="pageBar">
            <div>总共<em>{$product_list->total()}</em>条, 当前<em>{$product_list->currentPage()}</em>/<em>{$product_list->lastPage()}</em>页</div>
            <div>
                {$product_list->render()}
            </div>
        </div>
    </div>
</div>
