{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}

<div class="boxP">
    <div class="titP">
        <h4>合同添加</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post" enctype="multipart/form-data">

            <dl>
                <dt>合同编号</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="contract_no" value="" maxlength="20"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>合同名称</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="title" value="" maxlength="100"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>合同起止时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="contract_start_time" id="contract_start_time" value="" /> <input type="input" name="contract_end_time" id="contract_end_time" value="" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>客户姓名</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="customer_name" value="" maxlength="20"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>合同金额</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="order_amount" value="" maxlength="8"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>合同签订时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="contract_time" id="contract_time" value="" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>联系人</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="link_person" value="" maxlength="30" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>联系人电话</dt>
                <dd>
                    <div class="inputP">
                        <input type="input" name="link_person_phone" value="" maxlength="20"/>
                    </div>
                </dd>
            </dl>

            <!--上传图片-->
            <dl>
                <dt>合同附件</dt>
                <dd>
                    <div class="uploadImg">
                        <div class="btnMng">
                            <input type="file" name="contract_img" id="video_img" value=""/>
                            <p>上传图片</p>
                        </div>
                        <span>请上传图片格式的文件</span>
                    </div>

                </dd>
            </dl>

            <dl>
                <dt>备注</dt>
                <dd>
                    <div class="inputP textareaP">
                        <textarea name="remark" placeholder="请输入简介" maxlength="200"></textarea>
                        <!--<div class="tip">0/50</div>-->
                    </div>
                </dd>
            </dl>

            <!--确定按钮-->
            <dl>
                <dt></dt>
                <dd> <input type="submit" value="确定" class="btnP" > </dd>
            </dl>
        </form>
    </div>
</div>

<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#contract_start_time,#contract_end_time,#contract_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d"
    });
</script>
