<div class="boxP">
    <form method="get">
        <div class="formP">
            <dl>
                <dt>作品名称</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="product_name" value="{$Think.get.product_name}">
                    </div>
                </dd>
            </dl>
            <dl class="btnMng"> <dt></dt> <dd> <input type="submit" value="搜索" class="btnP" /> </dd>  </dl>
        </div>
    </form>
</div>


<div class="boxP">
    <div class="titP">
        <h4>合同列表</h4>
        <div class="btnMng">
            <a href="/admin/contract/add" class="btnP">新建</a>
        </div>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>合同id</th>
                <th>合同编号</th>
                <th>合同名称</th>
                <th>客户姓名</th>
                <th>合同金额</th>
                <th>签订时间</th>
                <th>对接人</th>
                <th>合同起止时间</th>
                <th>操作</th>
            </tr>

            {foreach name="contract_list" item="vo" key="k"}
            <tr>
                <td>
                    <a href="#">{$vo.contract_id}</a>
                </td>
                <td>{$vo.contract_no}</td>
                <td>{$vo.title}</td>
                <td>{$vo.customer_name}</td>
                <td>{$vo.order_amount}</td>
                <td>{$vo.contract_time|date="Y-m-d H:i:s",###}</td>
                <td>{$vo.link_person}</td>
                <td>{$vo.contract_start_time|date="Y-m-d H:i:s",###}  ~  {$vo.contract_end_time|date="Y-m-d H:i:s",###}</td>
                <td class="opt">
                    <a class="blue" href="/admin/contract/edit?contract_id={$vo.contract_id}">
                        <span>编辑</span>
                    </a>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <div class="pageBar">
            <div>总共<em>{$contract_list->total()}</em>条, 当前<em>{$contract_list->currentPage()}</em>/<em>{$contract_list->lastPage()}</em>页</div>
            <div>
                {$contract_list->render()}
            </div>
        </div>
    </div>
</div>
