

<div class="layer">
    <div class="activity">
        <span class="colseActivity"></span>
        <span class="snow"></span>
        <div class="activityBox clearfix">
            <div class="activityDetail">
                <ul>
                    <li>
                        <span class="fl">联系电话</span>
                        <input type="text" id="activity_mobile" class="contactPhone fl">
                    </li>


                    <li>
                        <span class="fl">验&nbsp;证&nbsp;码&nbsp;</span>
                        <input type="text" id="activity_mobile_code" class="contactPhone fl" style="width:2rem;background-size:cover;border-radius:.15rem">
                        <a href="javascript:void(0)" class="hqYzm"></a>
                        <!--<a href="javascript:void(0)" class="syRime">剩余23S</a>-->
                    </li>

                    <li align="center">
                        <input type="submit" class="activityConfirm" value="">
                    </li>
                </ul>
            </div>
        </div>
        <span class="ball"></span>
    </div>
</div>