<link href="/css/common.css" type="text/css" rel="stylesheet">
<link href="/css/layer.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/js/ratio.js"></script>


<div class="layer">
    <div class="activity">
        <span class="colseActivity"></span>
        <span class="snow"></span>
        <div class="activityBox clearfix">
            <div class="activityDetail">
                <ul>
                    <li>
                        <span class="fl">参与活动</span>
                        <span class="fl marLeft40">{$activity_info.activity_name}</span>
                    </li>
                    <li>
                        <span class="fl">读者证号</span>
                        <span class="fl marLeft40">{$Think.session.reader_no}</span>
                    </li>
                    <li>
                        <span class="fl">联系电话</span>
                        <input type="text" id="readno_mobile" class="contactPhone fl">
                    </li>
                    <li align="center"><input type="submit" id="readno_avctivity_signup" class="activityConfirm" value=""></li>
                </ul>
            </div>
        </div>
        <span class="ball"></span>
    </div>
</div>