{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}

<div class="boxP">
    <div class="titP">
        <h4>域名编辑</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post">

            <dl>
                <dt><span class="redSpan">*</span>公司名</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="company_name" value="{$domain_info.company_name}" maxlength="20"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>时间</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="copyright_year" value="{$domain_info.copyright_year}" maxlength="100"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>工信部备案号</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="industry_record" value="{$domain_info.industry_record}" maxlength="50"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>工信部备案链接</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="industry_url" value="{$domain_info.industry_url}" maxlength="500"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>公安网备号</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="police_record" value="{$domain_info.police_record}" maxlength="50"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt><span class="redSpan">*</span>公安网备链接</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="police_url" value="{$domain_info.police_url}" maxlength="500"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>状态</dt>
                <dd>
                    <div class="inputP">
                        <label><input type="radio" name="status" value="1" {if $domain_info.status ==1}checked {/if} />启用</label>
                        <label><input type="radio" name="status" value="0" {if $domain_info.status ==0}checked {/if} />禁用</label>
                    </div>
                </dd>
            </dl>

            <!--确定按钮-->
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="确定" class="btnP" >
                    <a href="/admin/domain/index" class="btnP btnDark">取消</a>
                </dd>
            </dl>
        </form>
    </div>
</div>
