{if $error_msg}
<div class="msgP msgErr">
    <h4><b>消息提示</b><a href="#" class="close_message_btn">×</a></h4>
    <p>错误消息:&nbsp;{$error_msg}</p>
</div>
{/if}


<div class="boxP">
    <div class="titP">
        <h4>编辑互联网用户</h4>
    </div>
    <div class="formP formV">
        <form action="" method="post">
            <dl>
                <dt>姓名</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="real_name" value="{$user_info.real_name}" maxlength="30"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>所属客户</dt>
                <dd>
                    <ul class="selectP">
                        <li>
                            <select name="customer_id">
                                <option value="0">请选择</option>
                                {volist name="customer_list" id="vo"}
                                <option value="{$vo.customer_id}" {if $user_info.customer_id == $vo.customer_id}selected{/if}>{$vo.customer_name}</option>
                                {/volist}
                            </select>
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl>
                <dt>读者证号</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="reader_no" value="{$user_info.reader_no}" maxlength="20"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>密码</dt>
                <dd>
                    <div class="inputP">
                        <input type="password" name="password" value="" maxlength="15"/>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>联系电话</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="telphone" value="{$user_info.telphone}" maxlength="11" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>所属小学</dt>
                <dd>
                    <div class="inputP">
                        <input type="text" name="school_name" value="{$user_info.school_name}" maxlength="50" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>头像</dt>
                <dd>
                    <div class="inputP">
                        <input type="file" name="avatar" value="" />
                    </div>
                </dd>
            </dl>

            <dl>
                <dt>用户状态</dt>
                <dd>
                    <div class="inputP">
                        <label><input type="radio" name="status" value="1" {if $user_info.status == 1}checked{/if} />启用</label>
                        <label><input type="radio" name="status" value="0" {if $user_info.status == 0}checked{/if} />禁用</label>
                    </div>
                </dd>
            </dl>

            <!--确定按钮-->
            <dl>
                <dt></dt>
                <dd> <input type="submit" value="确定" class="btnP" > </dd>
            </dl>
        </form>
    </div>
</div>




