
<div class="boxP">
    <form method="get">
        <div class="titP">
            <h4>查询条件</h4>
        </div>
        <div class="boxP">
            <div class="formP searchFormP">
                <!--单文本输入-->
                <dl>
                    <dt>资源名称</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" name="title" value="{$Think.get.title}">
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>分类</dt>
                    <dd>
                        <ul class="selectP">
                            <li>
                                <select name="cat_id">
                                    <option value="">请选择</option>
                                    {volist name="cat_list" id="vo"}
                                    <option value="{$vo.cat_id}" {if $Think.get.cat_id == $vo.cat_id} selected {/if}>{$vo.cat_name}</option>
                                    {/volist}
                                </select>
                            </li>
                        </ul>
                    </dd>
                </dl>

                <!--多下拉菜单-->
                <dl>
                    <dt>上传时间</dt>
                    <dd>
                        <div class="inputP">
                            <input type="text" placeholder="起始时间" name="start_time" id="start_time" value="{$Think.get.start_time}">
                            <label class="mid">至</label>
                            <input type="text" placeholder="结束时间" name="end_time" id="end_time" value="{$Think.get.end_time}">
                        </div>
                    </dd>
                </dl>

                <a href="javascript:void(0)" class="btnExpand openMng"></a>
            </div>
            <!--确定按钮-->
            <dl class="rBtn searchBtns">
                <dt>　</dt>
                <dd>
                    <input type="submit" class="btnP" value="确定">
                    <a href="javascript:void(0)" class="btnP btnDark">重置</a>
                </dd>
            </dl>
        </div>
    </form>
</div>




<div class="boxP">
    <div class="titP">
        <h4>视频列表</h4>
        <div class="btnMng">
            <a href="/admin/video/add" class="btnP">新建</a>
        </div>
    </div>

    <!--公共表格-->
    <div class="tableBox">
        <table class="tableP">
            <tr>
                <th>视频id</th>
                <th>视频名称</th>
                <th>所属分类</th>
                <th>缩略图</th>
                <th>排序字段</th>
                <th>上传时间</th>
                <th>操作</th>
            </tr>

            {foreach name="video_list" item="vo" key="k"}
            <tr>
                <td>{$vo.video_id}</td>
                <td>{$vo.title}</td>
                <td>{$vo.cat_name}~{$vo.second_cat_name}</td>
                <td><img height="20" width="40" src="{$vo.video_img}"/></td>
                <td>{$vo.sort}</td>
                <td>{$vo.add_time|date="Y-m-d",###} </td>
                <td class="opt">

                    {if  $vo.status==1}
                    <a class="blue" href="/admin/video/change_status?video_id={$vo.video_id}&status=0">
                        <span>下线</span>
                    </a>
                    {else}
                    <a class="blue" href="/admin/video/change_status?video_id={$vo.video_id}&status=1">
                        <span>发布</span>
                    </a>
                    {/if}

                    <a class="blue" href="/admin/video/edit?video_id={$vo.video_id}">
                        <span>编辑</span>
                    </a>

                    <a class="blue" href="/admin/video/make_face?video_id={$vo.video_id}">
                        <span>生成封面</span>
                    </a>

                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div class="page_content">
        <div class="pageBar">
            <div>总共<em>{$video_list->total()}</em>条, 当前<em>{$video_list->currentPage()}</em>/<em>{$video_list->lastPage()}</em>页</div>
            <div>
                {$video_list->render()}
            </div>
        </div>
    </div>
</div>

<script>
    //form查询表单展开收起效果
    function searchExpand(){
        var at = 'auto';
        var sfp = $('.searchFormP');
        var btn = $('.searchFormP .btnExpand');
        $('.searchFormP').css('height',45);
        btn.on('click',function(){
            var h = sfp.height();
            if(h<=50){
                btn.addClass('closeMng');
                sfp.css('height',at);
            }else{
                btn.removeClass('closeMng');
                sfp.css('height',45);
            }
        })
    }
    $(function(){
        searchExpand();
    })
</script>

<link href="/admin/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
    $.datetimepicker.setLocale('ch');//设置选择器为中文
    $('#start_time,#end_time').datetimepicker({
        dayOfWeekStart : 1,
        lang:'ch',
        format : "Y-m-d"
    });
</script>
