
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if $page_title}{$page_title}{else}个人中心-我的消息{/if}</title>
    <link href="/css/common.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/ratio.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/wrap.js"></script>

</head>

<body>
<div class="wrap">
    <div class="header">
        <a href="/" class="fl logo"><img src="/images/logo.png" width="100%"></a>
        {if !$Think.session.user_id}
        <a href="#" class="fr unLogin">
            <i></i>
            <p>未登录</p>
        </a>
        {else}
        <a href="/index/user/viewlist" class="fr unLogin">
            <img src="{$Think.session.avatar}">
        </a>
        {/if}
        <a href="/index/search/index" class="fr sear">
            <i></i>
            <p>搜索</p>
        </a>
    </div>
    <div class="PaintingMain">
        <div class="PaintNav fl">
            <ul>
                <li class="NHuihua CurliBg"><a href="#">绘画</a></li>
                <li class="Nsg"><a href="#">手工</a></li>
                <li class="Nsf"><a href="#">书法</a></li>
                <li class="Nwd"><a href="#">舞蹈</a></li>
                <li class="NHyy"><a href="#">音乐</a></li>
                <li class="Nql"><a href="#">棋类</a></li>
                <li class="Nsf"><a href="#">民间艺术</a></li>
            </ul>
        </div>
        <div class="Paintright2 fl">
            <div class="wrap1480">
                <span class="snow03" style="width:15.25rem"></span>
                <span class="zs"></span>
                <h3 class="keyTips">当前位置：<b>个人中心</b></h3>
                <div class="CenterTOp">
                    <ul class="Cenul1">
                        <li><a href="/index/user/viewlist">观看记录</a></li>
                        <li><a href="/index/user/productionlist">我的作品</a></li>
                        <li class="Curcent"><a href="/index/user/message">我的消息</a></li>
                    </ul>
                    <ul class="Cenul2">
                        <li {if $type ==1}class="Curcent"{/if}><a href="/index/user/message?type=1">系统消息</a></li>
                        <li {if $type ==2}class="Curcent"{/if}><a href="/index/user/message?type=2">作品消息</a></li>
                        <li {if $type ==3}class="Curcent"{/if}><a href="/index/user/message?type=3">活动消息</a></li>
                    </ul>

                    <div class="personalData">
                        <span class="Tx fl"><img width="100%" src="/images/tx.png" /></span>
                        <div class="Txcon fr">
                            <span>姓名：陈雨曦</span>
                            <span>读者证号：1564896</span>
                            <a href="#" class="Dlbtn">退出登录</a>
                        </div>
                    </div>
                </div>
                <div class="main_visual" style="margin-top:.85rem;height:4.8rem;overflow:auto">
                    {volist name="message_list" id="vo"}
                    <div class="news">
                        {if $vo.status == 1}
                        <i><img src="/images/xx2.png" /></i>
                        {else}
                        <i><img src="/images/xx1.png" /></i>
                        {/if}
                        <a href="#">{$vo.content}</a>
                        <span>{$vo.add_time|date="Y-m-d",###}</span>
                    </div>
                    {/volist}

                    <!--
                    <div class="news">
                        <i><img src="/images/xx2.png" /></i>
                        <a href="#">自制水火箭发射器 水火箭简单制作过程步骤图解</a>
                        <span>2017-08-20</span>
                    </div>
                    <div class="news">
                        <i><img src="/images/xx2.png" /></i>
                        <a href="#">自制水火箭发射器 水火箭简单制作过程步骤图解水火箭简单制作过程步骤图解水火箭简单制作过程步骤图解水火箭简单制作过程步骤图解水火箭简单制作过程步骤图解</a>
                        <span>2017-08-20</span>
                    </div>

                    <div class="news">
                        <i><img src="/images/xx1.png" /></i>
                        <a href="#">自制水火箭发射器 水火箭简单制作过程步骤图解</a>
                        <span>2017-08-20</span>
                    </div>
                    <div class="news">
                        <i><img src="/images/xx1.png" /></i>
                        <a href="#">自制水火箭发射器 水火箭简单制作过程步骤图解</a>
                        <span>2017-08-20</span>
                    </div>
                    -->
                </div>

            </div>

            <div class="footer">2009-2018 Aliyun.com 版权所有ICP证：苏ICP备13035115号-6  苏公备案 3301000200099号</div>
        </div>


    </div>
</div>
</body>
</html>
