
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if $page_title}{$page_title}{else}个人中心-作品详情{/if}</title>
    <link href="/css/common.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/ratio.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/wrap.js"></script>
    <script type="text/javascript" src="/js/jquery.jslides.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
</head>

<body>
<div class="wrap">
    <div class="header">
        <a href="/" class="fl logo"><img src="/images/logo.png" width="100%"></a>
        {if !$Think.session.user_id}
        <a href="#" class="fr unLogin">
            <i></i>
            <p>未登录</p>
        </a>
        {else}
        <a href="/index/user/viewlist" class="fr unLogin">
            <img src="{$Think.session.avatar}">
        </a>
        {/if}
        <a href="/index/search/index" class="fr sear">
            <i></i>
            <p>搜索</p>
        </a>
    </div>
    <div class="wrap1755" style="width:16.6rem">
        <a href="#" class="Goback"><img src="/images/back.png"></a>
        <span class="snow03" style="width:17rem"></span>
        <span class="zs"></span>
        <h3 class="keyTips">当前位置：<b>个人中心</b></h3>
        <div class="clearfix">
            <div class="fl videoLeft">
                <h3>快速画出青苹果</h3>
                <div class="videoMid">
                    <img src="/temp/video.jpg" width="100%" height="100%">
                </div>
                <div class="videoBot">
                    <a href="#" class="fr">查看简介>></a>
                    <a href="#" class="share fl">分享</a>
                    <a href="#" class="sc fl">收藏</a>
                    <a href="#" class="dj fl">4,678次播放</a>
                </div>
            </div>
            <div class="fr videoRight">
                <h3><i></i>我的其他作品</h3>
                <dl>
                    <dt><a href="#"><img src="/temp/img.jpg"></a><b>二等奖</b></dt>
                    <dd>
                        <h3><a href="#">卡通人物的塑造</a></h3>
                        <p>来自活动"简笔画大赛"导师解析，作品二等奖陈雨曦</p>
                        <p style="color:#999">4,678次播放</p>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="#"><img src="/temp/img.jpg"></a><b>二等奖</b></dt>
                    <dd>
                        <h3><a href="#">卡通人物的塑造</a></h3>
                        <p>来自活动"简笔画大赛"导师解析，作品二等奖陈雨曦</p>
                        <p style="color:#999">4,678次播放</p>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="#"><img src="/temp/img.jpg"></a><b>二等奖</b></dt>
                    <dd>
                        <h3><a href="#">卡通人物的塑造</a></h3>
                        <p>来自活动"简笔画大赛"导师解析，作品二等奖陈雨曦</p>
                        <p style="color:#999">4,678次播放</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="footer">2009-2018 Aliyun.com 版权所有ICP证：苏ICP备13035115号-6  苏公备案 3301000200099号</div>
</div>
</body>
</html>
